/*
    |                    |   |               |               ,---.
    |,---.,---.,---.,---.|---|,---.,---.,---.|    ,---.,---. |   |,---.,---.
    |,---|`---.|   ||   ||   ||---'|   ||   ||    |---'|     |   ||    |   |
`---'`---^`---'`---'`   '`   '`---'|---'|---'`---'`---'`    .`---'`    `---|
                                   |    |                              `---'
*/

/* elements */

body {
    color: #1d1e23;
    font-family: Georgia, Times, serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    border-bottom: 15px solid #3370a7;
}

p {
    margin-bottom: 30px
}

::selection {
    background-color: #5eacee;
    color: #fff;
}

.clearfix::before, .clearfix::after {
    content: " 0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.one-third {
    width: 30%
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Lucida Grand", Helvetica, Arial, sans-serif;
}


h1 {
    font-size: 56px;
    font-weight: normal;
    letter-spacing: -2px;
}

h2 {
    font-size: 34px;
    margin-top: 2em;
    font-weight: 200;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1, h2, h3, h4, aside {
    text-rendering: optimizeLegibility;
}

sup {
    font-size: 0.8em;
    line-height: 1;
    position: relative;
    bottom: 0.5em;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: none;
}

sup a {
    border: none;
}

b, strong {
    font-weight: 600;
    color: #555;
}

a:link, a:visited {
    text-decoration: none;
    color: #EC6F66;
	 transition: all 200ms ease-in-out 0s;
	 -moz-transition: all 200ms ease-in-out 0s;
	 -webkit-transition: all 200ms ease-in-out 0s;
}

a:hover {
    text-decoration: underline;
    color: #008aff;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img { border-width: 0; }

figcaption {
  padding-top: 10px;
  clear: both;
  font-family: Georgia, serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.8571;
  line-height: 1.3;
  color: #3c3c3c;
  text-align: center;
}

figure {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  *zoom: 1;
}

figure:before,
figure:after {
  display: table;
  line-height: 0;
  content: "";
}

figure:after {
  clear: both;
}

figure img {
  margin-bottom: 10px;
  width: 65%;
  height: auto;
}

figure a img:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

@media only screen and (min-width: 62.5em) {
  figure.half img {
    float: left;
    width: 290px;
    margin-right: 10px;
  }
  figure.half figcaption {
    clear: left;
  }
}

@media only screen and (min-width: 62.5em) {
  figure.third img {
    float: left;
    width: 180px;
    margin-right: 10px;
  }
  figure.third figcaption {
    clear: left;
  }
}

blockquote {
    margin: 26px 40px 26px 20px;
    padding-left: 15px;
    border-left: solid 3px #f3d084;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.4444;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #BDC3C7;
    color: #BDC3C7;
    text-align: center;
    width: 50%;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 1em;
    padding: 0 0.25em;
    background: #ecf0f1;
}

/* monofont */

pre, code {
    font-family: "Menlo", monospace;
    font-size: 13px;
}

pre {
    line-height: 16px;
    margin: 2em 0 2em -20px;
    padding-left: 18px;
    overflow: auto;
}

pre::-webkit-scrollbar-track-piece {
    background-color: #BDC3C7;
}

code {
   line-height: 1em;
}

.post code {
   background: #fbfbfb;
   border-radius: 3px;
   padding: 2px 3px;
   line-height: 1em;
}

pre code {
    border: none;
    margin: 2px 3px;
    padding: 2px 3px
}

/* html5 */

.container {
    width: 100%;
    margin: 0 auto;
}

#main {
    margin: 0 auto 0;
    padding: 0 0 0;
    background: #fff;
}

.progress-bar {
    position:fixed;
    background-color:red;
    width:100%;
    height:1px;
}

/*aside {
    font-size: small;
    right: 0;
    position: absolute;
    width: 120px;
    color: #000;
}*/

time {
    color: #828282;
}

footer {
    background: #f7f7f7;
    padding: 2em 0 1em 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
    line-height: 1.4em;
    margin-top: 2em;
}

footer p {
    font-size: 70%;
    font-family: "PT Sans",sans-serif;
}

footer .inside {
    max-width: 720px;
    margin: 0 auto 0;
    padding: 0px 0 0;
}


footer .main {
    padding: 20px 0 10px 0;
    margin: 0 30px 0 0;
    min-height: 100px;
}

footer .box {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

footer .footerBox {
    margin: 0 0 40px 20px;
    position: relative;
    float: left;
}

footer .listed {
    margin: 0 0 25px 0;
    padding: 0;
}

footer .listed li {
    list-style-type: none;
    padding: 7px 5px;
}


footer .secondary {
    margin: 0 30px 0;
    padding: 40px 0 20px;
    border-top: 1px solid #e3e0db;
}

/* data viz */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.bar {
  fill: steelblue;
}

svg {
  font: 13px sans-serif;
}

.zero_items {
     fill: gray;
   fill-opacity: 0.2;
}

/* ids */

#archive {
    margin-left: -40px;
}

#archive ul {
    list-style: none;
}

#archive ul li {
    list-style: none !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

#entry-post {
    padding-bottom: 50px;
}

#entry-post h2 a {
    color: black;
    margin: .3em 0 .1em 0;
}

#entry-link {
    padding-bottom: 25px;
}

#entry-link h3 a.arrow {
    color: black;
    text-decoration: none;
}

#entry-link h3 a.arrow:hover {
    text-decoration: none;
}

#entry-link p {
    font-size: 14px;
}

.entry-feature-image {
  width: 100%;
  height: auto;
  margin: 20px 0 0;
}

.about-intro figure {
    display: inline-block;
    margin-left: 16%;
    width: 40%;
}

.about-intro img {
    height: auto;
    width: 100%;
}

.about-intro figcaption {
    color: #999;
    display: block;
    font-size: .5em;
    text-align: left;
}

.image-credit {
  color: #999;
  display: block;
  font-size: .5em;
}

.essay-content-meta {
  display: none; }

.essay-info {
  border-bottom: 2px solid #DDD;
  border-top: 2px solid #DDD;
  font-family: "Lato", "Lucida Grand", Helvetica, Arial, sans-serif;
  font-size: .8em;
  margin: 2em auto;
  padding: 2em 0 1em;
  text-align: center; }

.essay-info-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 20%; }
  .essay-info-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: auto;
    width: 100%; }

.essay-info-biography {
  display: inline-block;
  vertical-align: top; }

.twitter-tweet {
  left: -1rem;
  margin-bottom: 1em !important;
  position: relative;
  width: 110%; }

@media only screen and (min-width: 640px) {
  .essay-content {
    margin-top: 3em;
    padding: 0;
    max-width: 680px; }
    .essay-content h1 {
      font-size: 4.5em;
      line-height: .95em;
      margin-bottom: .5em; }
    .essay-content p, .essay-content li {
      font-size: 1.1em;
      line-height: 1.75em; }

  .essay-author {
    font-size: .3em; }

  .essay-info {
    padding-top: 2em;
    text-align: left; }

  .essay-info-avatar {
    margin-left: -2%;
    margin-right: 5%;
    width: 18%; }

  .essay-info-biography {
    width: 78%; } }
@media only screen and (min-width: 1000px) {
  .essay-content {
    margin-left: 16.667%;
    width: 680px; }

  .essay-info {
    /*margin: 4em 0 4em 16.667%;*/
    /*max-width: 680px; */} }

article {
    display: inline-block;
    margin-bottom: 3em;
    vertical-align: top;
}

.home-written, .home-linked {
    margin-left: 5%;
    margin-right: 2%;
}

.home-written, .home-linked {
    width: 40%;
}

.home-written ul, .home-linked ul {
    font-size: .80em;
}

.home-written h3, .home-linked h3 {
    font-weight: 200;
    font-size: 1.2em;
}

.masthead-wrapper {
  max-width: 440px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  *zoom: 1;
  border-top: 5px solid #000;
}

.masthead-wrapper:before,
.masthead-wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}

.masthead-wrapper:after {
  clear: both;
}

@media only screen and (min-width: 48em) {
  .masthead-wrapper {
    max-width: 760px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 62.5em) {
  .masthead-wrapper {
    max-width: 960px;
  }
}

#masthead {
  display: inline-block;
  float: left;
  padding-top: 20px;
}

@media only screen and (min-width: 48em) {
  #masthead {
    line-height: 50px;
  }
}

#masthead .site-title {
  display: inline;
  font-family: lato, Calibri, Arial, sans-serif;
  font-size: 22px;
  font-size: 1.375rem;
  text-transform: uppercase;
}

#masthead .site-title a {
  color: #000000;
}

@media only screen and (min-width: 48em) {
  #masthead .site-title {
    display: inline;
    padding-bottom: 0;
    margin-left: 10px;
  }
}

#masthead .site-logo img {
  display: none;
}

@media only screen and (min-width: 48em) {
  #masthead .site-logo img {
    display: inline;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
  }
  #masthead .site-logo img:hover {
    -webkit-animation: wiggle 0.3s ease-out;
       -moz-animation: wiggle 0.3s ease-out;
            animation: wiggle 0.3s ease-out;
  }
}

#site-nav {
  padding-top: 20px;
  font-family: "Lato", "Lucida Grand", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 48em) {
  #site-nav {
    display: inline-block;
    float: right;
    clear: none;
    line-height: 50px;
  }
}

#site-nav ul {
  padding: 20px 0 0;
  margin: 0;
  clear: both;
}

@media only screen and (min-width: 48em) {
  #site-nav ul {
    padding-top: 0;
    clear: none;
  }
}

#site-nav li {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

@media only screen and (min-width: 48em) {
  #site-nav li {
    float: left;
  }
}

#site-nav a {
  display: block;
  padding-bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #000000;
  -webkit-transition: color 0.2s ease;
     -moz-transition: color 0.2s ease;
      -ms-transition: color 0.2s ease;
       -o-transition: color 0.2s ease;
          transition: color 0.2s ease;
}

#site-nav a:hover {

}

@media only screen and (min-width: 48em) {
  #site-nav a {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.nav .navtoogle {
  float: right;
  padding: 0;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
}

@media only screen and (min-width: 48em) {
  .nav .navtoogle {
    display: none;
  }
}

.navtoogle i {
  z-index: -1;
}

.icon-menu {
  position: relative;
  top: 3px;
  line-height: 0;
}

.no-js .nav .navtoggle {
  display: none;
}

.no-js .nav ul {
  max-height: 30em;
  overflow: hidden;
}

.js .nav ul {
  max-height: 0;
  overflow: hidden;
}

@media only screen and (min-width: 48em) {
  .js .nav ul {
    max-height: 30em;
  }
}

.js .nav .active + ul {
  max-height: 30em;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
     -moz-transition: max-height 0.4s;
      -ms-transition: max-height 0.4s;
       -o-transition: max-height 0.4s;
          transition: max-height 0.4s;
}


/* classes */

/*.header_container {
    width: 750px;
    margin: 0 auto;
}

.header {
    margin: 30px 0 35px 0;
    font-family: 'PT Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

.header a {
    color: #444;
    text-decoration: none;
    border: none;
    font-weight: normal;
    background: none;
    border: none;
}

.header a:hover {
        background: none;
    border: none;
}

.menu {
    padding: 0;
    margin: 5px 0;
    font-weight: normal;
}

.menu li {
    display: inline;
    padding-right: 15px;
}

.menu li a {
    font-size: 14px;
}
*/

#all-posts {
    margin: 0 auto;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-family: "Lato", "Lucida Grand", Helvetica, Arial, sans-serif;
    font-size: .70em;
}

.btn-outline {
    color: #5eacee;
    background-color: transparent;
    border-color: #5eacee;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn:hover, .btn:focus {
    color: #fff;
    text-decoration: none;
    background: #5eacee;
    border-color: #5eacee;
}

.attribution {
    font-size: small;
    margin-bottom: 2em;
}

/*.menu {
    font-weight: normal;
}

.menu a {
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: none;
    color: #999;
}

.menu a:hover {
    color: #000;
}

.menu li {
    display: inline;
    padding-right: 15px;
}

.menu li a {
    font-size: 14px;
    color: #999;
}

.menu li:first-child a {
    color: #000;
    padding-right: 10px;
    border-right: 1px solid steelblue;
}
*/
.listing {
    margin: 0 0 25px 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
}

.listing a {
    border: none;
}

.listing li {
    list-style-type: none;
    padding: 7px 5px;
    border-bottom: 1px solid #BDC3C7;
}

.listing span {
    padding-top: 3px;
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}

.hero {
    background-color: #2b2b2b;
    background-size: cover;
    height: 200px;
    width: 720px;
-moz-box-shadow: inset 0 0 30px rgba(0,0,0,.79);
-webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.79);
box-shadow: inset 0 0 30px rgba(0,0,0,.79);
margin: 0 auto;
}

.topline {
    display: block;
    border-top: 1px solid rgba(0,0,0,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.head {
    margin-bottom: 40px;
}

#inside {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

/*#inside h2 {
    text-align: center;
}*/

#projects {
    padding: 60px 30px 60px 30px;
    color: rgba(0,0,0,.5);
}

.gray {
    background: #f7f7f7;
}

.black {
    background: #262626;
    color: white;
}

.black a {
    color: white;
}

.black a:hover {
    text-decoration: none;
    color: white;
}

.black .topline {
    display: block;
    border-top: 1px solid rgba(255,255,255,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.black h2 {
    color: white;
}

.blue {
    background: rgb(51, 112, 167);
}

.blue p {
    color: #ccc;
}

.blue a {
    color: white;
}

.blue a:hover {
    text-decoration: none;
    color: white;
}

.blue .topline {
    display: block;
    border-top: 1px solid rgba(255,255,255,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.blue h2 {
    color: white;
}

.green {
    background: #85B394;
}

.green p {
    color: black;
}

.green a {
    color: white;
}

.green a:hover {
    text-decoration: none;
    color: white;
}

.green .topline {
    display: block;
    border-top: 1px solid rgba(255,255,255,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.green h2 {
    color: white;
}

.tweed {
    min-height: 500px;
    background-image: url('/assets/images/tweed.png');
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 4px solid #46e4bc;
    border-bottom: 4px solid #46e4bc;
}

.tweed p {
    color: white;
}

.tweed a {
    color: #E5E5E5;
}

.tweed a:hover {
    text-decoration: none;
    color: white;
}

.tweed .topline {
    display: block;
    border-top: 1px solid rgba(255,255,255,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.tweed h2 {
    color: white;
}


/*.post_meta {
    margin: 75px -30px 25px -30px;
    padding: 30px;
    text-align: center;
}*/

/*.post h3 {
    color: #323231;
    margin: 55px auto 30px auto;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: url('/images/bg_sep.gif') bottom center no-repeat;
    padding-bottom: 15px;
    font-size: 15px;
    font-family: "PT Sans",sans-serif;
}*/

.post p {
    font-size: 1.1em;
    line-height: 1.75em;
}

.post h2 {
    font-size: 3.5em;
    line-height: .95em;
}

.post h2 a {
    color: black;
    margin: .3em 0 .1em 0;
    text-decoration: none;
}

.post_meta {
    width: 100%;
    margin: 5em auto 0;
}

.post_meta .block {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 30%;
    padding: 0 10px;
}

.post_meta a {
    font-size: 45px;
    color: #555;
    text-decoration: none;
    border: none;
}

.post_meta a:hover {
    border: none;
}

.post_meta .block div {
    font-size: 12px;
    line-height: 1.4em;
}

/*.project_block {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 10px;
    width: 280px;
    margin-right: 20px;
}*/

.intro {
    text-align: left;
    width: 45em;
    margin: 0 auto
}

.intro p {
    font-size: 20px;
}

.intro h1 {
    font-weight: normal;
    line-height: 1em;
    font-size: 2rem;
    letter-spacing: -.04em;
    z-index: 1000;
    color: #333;
}

.preview {
    border: 1px solid #ccc;
    height: 80px;
    margin-bottom: .5em;
    margin-left: 0;
    width: 720px;
}

/*p.tweet-me {
    color: #a19c91;
    font-size: 0.8em;
}*/
/*
.categories ul {
   list-style: none;
   margin: 0 auto;
}

li.category {
    list-style: none;
    display: inline;
    background: #f2efe4;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: none;
}

li.category a {
    border-bottom: none;
}*/

.update {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: .5em;
    border: 1px solid #ccc
}

.footnotes {
    display: block;
    font-size: 0.7em;
    color: #4A4A4A;
    padding-top: 12px;
    margin-left: -22px;
}

.footnotes p {
    font-size: 12px;
    margin-bottom: 3px;
}

a.link_list_icon {
    border-bottom: none;
    text-decoration: none;
    color: #b1b1b1;
    float: left;
    margin-left: -25px;
}

a.link_list_icon:hover {
    border-bottom: none;
}

ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  /*border: 1px solid #ddd;*/
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  /*box-shadow: 0 0 5px #ddd;*/
/*  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}
ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
  width: 43.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
  }
}
