/*                                                                           
    |                    |   |               |               ,---.          
    |,---.,---.,---.,---.|---|,---.,---.,---.|    ,---.,---. |   |,---.,---.
    |,---|`---.|   ||   ||   ||---'|   ||   ||    |---'|     |   ||    |   |
`---'`---^`---'`---'`   '`   '`---'|---'|---'`---'`---'`    .`---'`    `---|
                                   |    |                              `---'
*/

/* elements */

body {
	margin: 1em auto 4em auto;
	width: 800px;
	padding: 0;
  font-family: "PT Serif", serif;
	color: #333;
}

p {
	width: 720px;
}

::selection {
	background-color: #A6DDFB;
	color: black;
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6, aside {
	font-family: 'PT Sans', sans-serif;
}

h1 {
	font-size: 44px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: .3em 0 .1em 0;
}

h2 {
	margin-top: 2em;
}

h1, h2, h3, h4, aside {
	text-rendering: optimizeLegibility;
}

sup {
	font-size: 0.8em;
	line-height: 1;
	position: relative;
	bottom: 0.5em;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
    border: none;
}

sup a {
    border: none;
}

b, strong {
	font-weight: 600;
	color: #555;
}

a:link {
    text-decoration: none;
    color: #4183c4;
}
a:visited {
		text-decoration: none;
    color: #4183c4;
}
a:hover {
    text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a img { border-width: 0; }

blockquote {
	font-size: .955rem;
	margin-bottom: 1.412rem;
	font-style: italic;
	padding: 0 1.75em 0 1.25em;
	margin-left: 0;
	border-left: 5px solid steelblue;
}

hr {
	padding: 0;
	border: none;
	border-top: medium double #BDC3C7;
	color: #BDC3C7;
	text-align: center;
	width: 50%;
}

hr:after {
	content: "§";
	display: inline-block;
	position: relative;
	top: -1em;
	font-size: 1em;
	padding: 0 0.25em;
	background: #ecf0f1;
}

/* monofont */

pre, code {
    font-family: "Menlo", monospace;
}

pre {
	line-height: 16px;
	border-left: solid 2px #ccc;
	margin: 2em 0 2em -20px;
	padding-left: 18px;
	overflow: auto;
}

pre::-webkit-scrollbar-track-piece {
	background-color: #BDC3C7;
}

code {
	line-height: 1em;
}

pre code {
	border: none;
	background: none;
}

/* html5 */

.container {
	width: 780px;
	margin: 0 auto;
}

aside {
	font-size: small;
	right: 0;
	position: absolute;
	width: 180px;
	color: #000;
}

time {
	color: #828282;
}

footer {
	padding: 2em 0 1em 0;
	clear: both;
	font-size: 70%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
  line-height: 1.4em;
  font-family: 'PT Sans', sans-serif;
}

/* data viz */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.bar {
  fill: steelblue;
}

svg {
  font: 13px sans-serif;
}

.zero_items {
	 fill: gray;
   fill-opacity: 0.2;
}

/* ids */

#archive {
    margin-left: -40px;
}

#archive ul {
    list-style: none;
}

#archive ul li {
    list-style: none !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* classes */

.menu a {
	text-decoration: none;
	font-size: 1.2em;
	border-bottom: none;
	color: #828282;
}

.menu a:hover {
	color: steelblue;
}

.header_container {
	width: 750px;
	margin: 0 auto;
}

.header {
	margin: 30px 0 35px 0;
	font-family: 'PT Sans', sans-serif;
	text-rendering: optimizeLegibility;
}

.header a {
	color: #444;
	text-decoration: none;
	border: none;
	font-size: 30px;
	font-weight: normal;
}

.name span {
	color: steelblue;
}

.attribution {
	font-size: small;
	margin-bottom: 2em;
}

.menu {
	padding: 0;
	margin: 5px 0;
	font-weight: normal;
}

.menu li {
	display: inline;
	padding-right: 15px;
}

.menu li a {
	font-size: 14px;
}

.listing {
	margin: 0 0 25px 0;
	padding: 0;
}

.listing a {
	border: none;
}

.listing li {
	list-style-type: none;
	padding: 7px 5px;
	border-bottom: 1px solid #BDC3C7;
}

.listing span {
	padding-top: 3px;
	float: right;
	text-transform: uppercase;
	font-size: 12px;
	color: #999;
	font-family: 'PT Sans', sans-serif;
}

.hero {
	background-color: #2b2b2b;
	background-size: cover;
	height: 200px;
-moz-box-shadow: inset 0 0 30px rgba(0,0,0,.79);
-webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.79);
box-shadow: inset 0 0 30px rgba(0,0,0,.79);
}

.post_meta {
	margin: 75px -30px 25px -30px;
	padding: 30px;
	border-top: 1px solid #BDC3C7;
	text-align: center;
}

.post_meta .block {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 25%;
	padding: 0 10px;
}

.post_meta a {
	font-size: 45px;
	color: #555;
	text-decoration: none;
	border: none;
}

.post_meta a:hover {
	border: none;
}

.post_meta .block div {
	font-size: 12px;
    line-height: 1.4em;
}

/*.project_block {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0 10px;
	width: 280px;
	margin-right: 20px;
}*/

.intro {
	text-align: left;
}

.intro p {
	font-size: 18px;
}

.preview {
	border: 1px solid #ccc;
	height: 80px;
	margin-bottom: .5em;
	margin-left: 0;
	width: 720px;
}

/*p.tweet-me {
	color: #a19c91;
	font-size: 0.8em;
}*/
/*
.categories ul {
   list-style: none; 
   margin: 0 auto;
}

li.category {
    list-style: none;
    display: inline;
    background: #f2efe4;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: none;
}

li.category a {
    border-bottom: none;
}*/

.update {
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: .5em;
	border: 1px solid #ccc
}

.footnotes {
	display: block;
	font-size: 0.7em;
	color: #4A4A4A;
	padding-top: 12px;
	margin-left: -22px;
}

/*.footnotes a {
	text-decoration: none;
}*/

a.link_list_icon {
	border-bottom: none;
	text-decoration: none;
	color: #b1b1b1;
	float: left;
	margin-left: -25px;
}

a.link_list_icon:hover {
	border-bottom: none;
}
