/*                                                                           
    |                    |   |               |               ,---.          
    |,---.,---.,---.,---.|---|,---.,---.,---.|    ,---.,---. |   |,---.,---.
    |,---|`---.|   ||   ||   ||---'|   ||   ||    |---'|     |   ||    |   |
`---'`---^`---'`---'`   '`   '`---'|---'|---'`---'`---'`    .`---'`    `---|
                                   |    |                              `---'
*/

/* elements */

body {
    font-family: 'Merriweather', serif;
    color: #6a6a6a;
    background: white;
    font-weight: normal;
    font-size: 100%
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.7em;
    font-size: 1em;
    margin: 0 0 20px 0;
    font-weight: normal;
    font-style: normal;
}

::selection {
	background-color: #A6DDFB;
	color: black;
	text-shadow: none;
}

.clearfix::before, .clearfix::after {
    content: " 0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.one-third {
    width: 30%
}

h1, h2, h3, h4, h5, h6, aside {
	  font-family: 'Arvo', Georgia,serif;
}


h1 {
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: -2px;
	margin: .3em 0 .1em 0;
}

h2 {
  font-size: 1.3em;
	margin-top: 2em;
}

h1, h2, h3, h4, aside {
	text-rendering: optimizeLegibility;
}

sup {
	font-size: 0.8em;
	line-height: 1;
	position: relative;
	bottom: 0.5em;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
    border: none;
}

sup a {
    border: none;
}

b, strong {
	font-weight: 600;
	color: #555;
}

a:link, a:visited {
    text-decoration: none;
    color: #137AB3;
}
a:hover {
    text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a img { border-width: 0; }

blockquote {
	/*font-size: .955rem;*/
	/*margin-bottom: 1.412rem;*/
	margin: 0 0 21px;
	padding: 0 0 0 15px;
	font-style: italic;
	/*padding: 0 1.75em 0 1.25em;*/
	/*margin-left: 0;*/
	border-left: solid 2px #ccc;
}

hr {
	padding: 0;
	border: none;
	border-top: medium double #BDC3C7;
	color: #BDC3C7;
	text-align: center;
	width: 50%;
}

hr:after {
	content: "§";
	display: inline-block;
	position: relative;
	top: -1em;
	font-size: 1em;
	padding: 0 0.25em;
	background: #ecf0f1;
}

/* monofont */

pre, code {
    font-family: "Menlo", monospace;
    font-size: 13px;
}

pre {
	line-height: 16px;
	border-left: solid 2px #ccc;
	margin: 2em 0 2em -20px;
	padding-left: 18px;
	overflow: auto;
}

pre::-webkit-scrollbar-track-piece {
	background-color: #BDC3C7;
}

code {
	line-height: 1em;
}

pre code {
	border: none;
	background: none;
}

/* html5 */

.container {
    width: 100%;
    margin: 0 auto;
}

#main {
    margin: 0 auto 0;
    padding: 0 0 0;
    background: #fff;
}

.progress-bar {
    position:fixed;
    background-color:red;
    width:100%;
    height:1px;
}

aside {
	font-size: small;
	right: 0;
	position: absolute;
	width: 250px;
	color: #000;
}

time {
	color: #828282;
}

footer {
    background: #f7f7f7;
    padding: 2em 0 1em 0;
    clear: both;
    font-size: 70%;
    margin: 0 auto;
    width: 100%;
    line-height: 1.4em;
}

footer .inside {
    max-width: 65.5em;
    margin: 0 auto 0;
    padding: 0px 0 0;
}


footer .main {
    padding: 50px 0 10px 0;
    margin: 0 30px 0 0;
    min-height: 300px;
}

footer .box {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

footer .footerBox {
    margin: 0 0 40px 20px;
    position: relative;
    float: left;
}

footer .listed {
    margin: 0 0 25px 0;
    padding: 0;
}

footer .listed li {
    list-style-type: none;
    padding: 7px 5px;
}


footer .secondary {
    margin: 0 30px 0;
    padding: 40px 0 20px;
    border-top: 1px solid #e3e0db;
}

/* data viz */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.bar {
  fill: steelblue;
}

svg {
  font: 13px sans-serif;
}

.zero_items {
	 fill: gray;
   fill-opacity: 0.2;
}

/* ids */

#archive {
    margin-left: -40px;
}

#archive ul {
    list-style: none;
}

#archive ul li {
    list-style: none !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

#entry-post {
	padding-bottom: 50px;
}

#entry-post h2 a {
	color: black;
	text-decoration: none;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: .3em 0 .1em 0;
}


#entry-link p {
	font-size: 14px;
}

/* classes */

.menu a {
	text-decoration: none;
	font-size: 1.2em;
	border-bottom: none;
	color: #828282;
}

.menu a:hover {
	color: #369;
}

.header_container {
	width: 40em;
	margin: 0 auto;
}

.header {
    margin: 30px 0 35px 0;
    font-family: 'Arvo', serif;
    text-rendering: optimizeLegibility;
}

.header a {
	color: #444;
	text-decoration: none;
	border: none;
	font-size: 30px;
	font-weight: normal;
}

.name span {
    color: steelblue;
}

.attribution {
    font-size: small;
    margin-bottom: 2em;
}

.menu {
    padding: 0;
    margin: 5px 0;
    font-weight: normal;
}

.menu li {
	display: inline;
	padding-right: 15px;
}

.menu li a {
	font-size: 14px;
}

.listing {
	margin: 0 0 25px 0;
	padding: 0;
}

.listing a {
	border: none;
}

.listing li {
	list-style-type: none;
	padding: 7px 5px;
	border-bottom: 1px solid #BDC3C7;
}

.listing span {
	padding-top: 3px;
	float: right;
	text-transform: uppercase;
	font-size: 12px;
	color: #999;
}

.hero {
	background-color: #2b2b2b;
	background-size: cover;
	height: 200px;
	width: 620px;
-moz-box-shadow: inset 0 0 30px rgba(0,0,0,.79);
-webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.79);
box-shadow: inset 0 0 30px rgba(0,0,0,.79);
}

.topline {
    display: block;
    border-top: 1px solid rgba(0,0,0,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.head {
    margin-bottom: 40px;
}

#inside {
    max-width: 42.5em;
    margin: 0 auto;
    position: relative;
}

/*#inside h2 {
    text-align: center;
}*/

#projects {
    padding: 60px 30px 60px 30px;
    color: rgba(0,0,0,.5);
}

.gray {
    background: #f7f7f7;
}

.black {
    background: #262626;
    color: white;
}

.black a {
    color: white;
}

.black a:hover {
    text-decoration: underline;
    color: white;
}

.black .topline {
    display: block;
    border-top: 1px solid rgba(255,255,255,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.black h2 {
    color: white;
}


.blue {
    background: #6a8297;
}

.blue a {
    color: white;
}

.blue a:hover {
    text-decoration: underline;
    color: white;
}

.blue .topline {
    display: block;
    border-top: 1px solid rgba(255,255,255,.2);
    width: 100px;
    margin: 0 auto 15px;
    margin-top: 15px;
}

.blue h2 {
    color: white;
}

/*.post_meta {
	margin: 75px -30px 25px -30px;
	padding: 30px;
	text-align: center;
}*/

.post_meta {
	width: 100%;
	margin: 5em auto 0;
}

.post_meta .block {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 25%;
	padding: 0 10px;
}

.post_meta a {
	font-size: 45px;
	color: #555;
	text-decoration: none;
	border: none;
}

.post_meta a:hover {
	border: none;
}

.post_meta .block div {
	font-size: 12px;
    line-height: 1.4em;
}

/*.project_block {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0 10px;
	width: 280px;
	margin-right: 20px;
}*/

.intro {
    text-align: left;
    width: 45em;
    margin: 0 auto
}

.intro p {
	font-size: 18px;
}

.preview {
	border: 1px solid #ccc;
	height: 80px;
	margin-bottom: .5em;
	margin-left: 0;
	width: 720px;
}

/*p.tweet-me {
	color: #a19c91;
	font-size: 0.8em;
}*/
/*
.categories ul {
   list-style: none; 
   margin: 0 auto;
}

li.category {
    list-style: none;
    display: inline;
    background: #f2efe4;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: none;
}

li.category a {
    border-bottom: none;
}*/

.update {
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: .5em;
	border: 1px solid #ccc
}

.footnotes {
	display: block;
	font-size: 0.7em;
	color: #4A4A4A;
	padding-top: 12px;
	margin-left: -22px;
	border-top: 1px solid #BDC3C7;
}

.footnotes p {
	font-size: 12px;
}

a.link_list_icon {
	border-bottom: none;
	text-decoration: none;
	color: #b1b1b1;
	float: left;
	margin-left: -25px;
}

a.link_list_icon:hover {
	border-bottom: none;
}
