/* ==========================================================================
   Base elements
   ========================================================================== */

   html {
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    margin: 80px auto;
  }
  
  body {
    background: $background-color; 
    color: $text-color;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: $base-font-size;
    display: flex;
  }

  blockquote {
    position: relative;
    margin: 0 0 1.5em;
    padding: 0.75em 1.5em 0.75em;
    font-size: 1rem;
    color: $text-color;
    &.huge {
      max-width: 130%;
      border: none;
      color: #678;
      padding: 0;
      font-size: 1.7rem;
      margin: 1.7em -15% 1.7em;
    }
    &.pull-right {
      margin: 0.2rem -20% 0.4rem 1.5rem;
      float: right;
      line-height: 1.5;
      padding: 0;
      width: 40%;
      border: none;
      color: #678;
      font-size: 1.15rem;
    }
    .author {
      font-size: 1.2rem;
    }
    &::before {
      position: absolute;
      content: " ";
      left: 0;
      width: 4px;
      background: rgb(252, 218, 102);
      top: .5em;
      border-radius: 6px;
      height: calc(100% - 1em);
    }
  }
  
  @media (min-width: 30rem) {
    blockquote {
      padding-right: 5rem;
      padding-left: 1.25rem;
    }
  }
  
  code,
  kbd,
  samp,
  pre {
    font-family: $monospace-font-family;
  }
  
  kbd {
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
    display: inline-block;
    margin: 0 0.125em;
    padding: 0.125em 0.5em;
    text-shadow: 0 1px 0 #fff;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: $base-font-size * 1.2;
    line-height: 1.6em;
    &.size-2x {
      font-size: $base-font-size * 2;
      font-weight: $weight-100;
      line-height: 1.4;
    }
    &.home-intro {
      font-size: $base-font-size * 2.4;
      width: 34rem;
      font-weight: $weight-100;
    }
    &.emphasis {
        font-family: $headline-font-family;
    }
    &.small {
      font-size: $base-font-size - 2;
    }
  }

  @media screen and (max-width: 480px) {
    p {
        font-size: $base-font-size;
        &.size-2x {
            font-size: $base-font-size * 1.2;
        }
        &.home-intro {
          font-size: $base-font-size * 1.4;
          width: 18rem;
        }
    }
  }

  ul, ul li {
    font-size: $base-font-size * 1.2;
  }

  @media screen and (max-width: 480px) {
    ul, ul li {
        font-size: $base-font-size;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
  }
  
  h1 {
    @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
  }
  
  h2 {
    @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);
    font-weight: $weight-500;
  }
  
  h3 {
    @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
    font-family: $headline-font-family;
    font-weight: $weight-500;
    margin-bottom: .5rem;
  }
  
  h4 {
    @include fluid-type($min-vw, $max-vw, $h4-min, $h4-max);
    font-family: $headline-font-family;
    margin-bottom: .5rem;
  }
  
  h5 {
    @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
  }
  
  h6 {
    @include fluid-type($min-vw, $max-vw, $h6-min, $h6-max);
  }
  
  dt {
    font-weight: bold;
  
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
  
  dd {
    margin: 0;
  }
  
  pre {
    @include fluid-type($min-vw, $max-vw, 12px, 16px);
  }
  
  figure {
    margin-left: 0;
    margin-right: 0;
  
    > p {
      margin-bottom: 0;
      width: 100%;
    }
  
    > img {
      width: 100%;
    }
  }
  
  figcaption {
    font-size: 80%;
    margin: 0.5rem 0;
  }
  
  a {
    color: $link;
    text-decoration: none;
    border-bottom: 1px solid $link-under;
    -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
  	-moz-transition: border .15s ease-in-out, color .15s ease-in-out;
  	-ms-transition: border .15s ease-in-out, color .15s ease-in-out;
  	-o-transition: border .15s ease-in-out, color .15s ease-in-out;
  	transition: border .15s ease-in-out, color .15s ease-in-out;
  
    &:hover {
      color: $link-hover;
    }
  
    &:visited {
      color: $link;
      outline: none !important;
    }
  }
  
//  p a {
//     background-image: linear-gradient(to bottom, transparent 65%, #fcf113 10%);
//     background-size: 0% 100%;
//     background-repeat: no-repeat;
//     text-decoration: none;
//     -webkit-transition: background-size 0.4s ease;
//     -moz-transition: background-size 0.4s ease;
//     -ms-transition: background-size 0.4s ease;
//     -o-transition: background-size 0.4s ease;
//     transition: background-size 0.4s ease;
//     border-bottom: 2px solid;
//     color: #515e65;
//     border-color: #515e65;
//  }
//  p a:hover, p a:focus {
//   background-size: 100% 100%;
//   cursor: pointer;
// }

  img {
    /* lazysizes plugin */
    &[data-sizes="auto"] {
      display: block;
      width: 100%;
    }
  }
  
  li {
    > img {
      margin: 1rem 0;
    }
  }
