ul.navigation {
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
  }
  
  .sidebar-nav {
    padding-left: 0;
    list-style: none;
  }
  
  .sidebar-nav-item {
    display: inline;
    font-size: $base-font-size * 0.9;
    margin-right: 20px;
    font-family: $headline-font-family;
  }
  
  li {
    &#nav-title a {
      color: $link;
      text-decoration: none;
      border: none;
    }
    &.sidebar-nav-item a {
      border: none;
    }
  }
  
  .sidebar-nav-item:last-child:after {
    content: "";
  }
  
  a.sidebar-nav-item {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  
  .sidebar-nav-item.active {
    font-weight: bold;
  }