table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
  }
  
  td, th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
  }
  
  tbody tr:nth-child(odd) {
    td, th {
      background-color: #f9f9f9;
    }
  }