@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:300,400,600|Open+Sans:300,400');

/* Resets */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:300;
  line-height:31px;
  color:rgba(0,0,0,.6);
}

body {
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a{color:#089970; transition: all .05s ease-out;}
a:hover{background-color: #e4f7f0;}

/* Headings */
h1,h2,h3,h4,h5,h6{font-family:"Fira Sans", sans-serif;font-weight:600;color:#273d44;}
h1{font-size:2.25rem}
h1,h2{margin-bottom:.5rem;line-height:1.25}
h2{font-size:1.5rem}
h3{font-size:1.25rem}
h3,h4{margin-bottom:.5rem;line-height:1.25}
h4{font-size:1rem}
h5{margin-bottom:.5rem;line-height:1.25;font-size:.875rem}

.list-items{list-style-type:none;margin:0;padding:0}
.list-items, p{margin:1rem 0;font-size:1rem}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

ul, ul li {
  font-size: 16px;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: "Fira Mono", Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #ffffff;
  border-radius: 3px;
}
pre {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
code a {
  border: none;
}
.highlight {
	white-space: pre;
	overflow: auto;
	word-wrap: normal;
	border-radius: 0;
	padding: 20px;
	margin: 0;
	margin-bottom: 30px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 2px solid rgba(67, 131, 191, 0.3);
  font-style: italic;
}
blockquote p {
  color: #4383bf;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

aside.post {
  padding: 5px 10px;
  margin-bottom: 2em;
  font-size: small;
  background: #ECF0F1;
  line-height: 1.5em;
}

aside.cv {
  text-align: right;
  background: none;
  font-size: .7em;
}

#note {
  text-align: center;
  font-weight: 300;
  margin: auto;
  padding: 1em;
  width: 80%;
}

hr {
  width: 68%;
  border: 1px solid #d5d5d5;
  margin-left: auto;
  margin-right: auto;
}

.page,
.post {
  margin-bottom: 4em;
}

.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 0.8rem;
}

.post-date-link-blog {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 0.8rem;
}

.link-post-out {
  display: block;
  background: #f2f2f2;
  padding: 5px;
  border: 1px solid #e5e5e5;
}

.article-list {
  display: block;
  padding: 0;
  margin: 50px 0;
  list-style: none;
}

.article-list li {
  padding: 30px 0;
  border-bottom: 1px solid #ebeaea;
}

.article-list-tags {
  display: inline-block;
  vertical-align: top;
}

.article-list-footer {
  display: block;
}

.article-list-footer span {
  display: inline-block;
  font-size: 11px;
  color: #333;
  vertical-align: middle;
}

.meta a {
  text-decoration: none;
}

/* data viz */
.attribution {
    font-size: small;
    margin-bottom: 2em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.bar {
  fill: steelblue;
}

svg {
  font: 13px sans-serif;
}

/*
* Images
*/

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img { border-width: 0; }

figcaption {
  padding-top: 10px;
  clear: both;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.8571;
  line-height: 1.3;
  color: #3c3c3c;
  text-align: center;
}

figure {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  *zoom: 1;
}

figure:before,
figure:after {
  display: table;
  line-height: 0;
  content: "";
}

figure:after {
  clear: both;
}

figure img {
  margin-bottom: 10px;
  width: 65%;
  height: auto;
}

figure a img:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

@media only screen and (min-width: 62.5em) {
  figure.half img {
    float: left;
    width: 290px;
    margin-right: 10px;
  }
  figure.half figcaption {
    clear: left;
  }
}

@media only screen and (min-width: 62.5em) {
  figure.third img {
    float: left;
    width: 180px;
    margin-right: 10px;
  }
  figure.third figcaption {
    clear: left;
  }
}

.about-intro figure {
    display: inline-block;
    margin-left: 10%;
    width: 60%;
}

.about-intro img {
    height: auto;
    width: 100%;
}

.about-intro figcaption {
    color: #999;
    display: block;
    font-size: .5em;
    text-align: left;
}

.image-credit {
  color: #999;
  display: block;
  font-size: .5em;
}

/* nav */
ul.navigation{
  margin: 0;
  padding: 0;
}
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-nav-item {
  display: inline;
  font-size: 0.9em;
}
li#nav-title {font-family:"Fira Sans";}
li#nav-title a {color:#333;text-decoration: none;border:none;}
.sidebar-nav-item:after { content: " · "; color: #D9D9D7;}
.sidebar-nav-item:last-child:after{content:"";}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

footer {
  margin-top: 25px;
}
footer p {
  font-size: 0.7em;
}
.revisions::before {
  content: "\f040";
  font-family: FontAwesome;
  font-size: 0.9rem;
}
