/* Resets */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.75;
  color: #484848;
  font-size: 18px;
}

.clearfix {
  height:1%;
  overflow:visible;
}

body {
  background-color: white; /*#f4f4f4;*/
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Typography */

@font-face {
  font-family: "ATF-Spark";
  src: url("/assets/fonts/Sparks-Bar-Medium.eot"), url("/assets/fonts/Sparks-Bar-Medium.woff2") format("woff2"), url("/assets/fonts/Sparks-Bar-Medium.woff") format("woff"),
       url("/assets/fonts/Sparks-Dotline-Thin.eot"), url("/assets/fonts/Sparks-Dotline-Thin.woff2") format("woff2"), url("/assets/fonts/Sparks-Dotline-Thin.woff") format("woff"); }

span.spark {
  font-family: "ATF-Spark";
  color: #1d78bd;
  -webkit-font-variant-ligatures: contextual;
          font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "calt";
  font-feature-settings: "calt"; }

span.sparkline {
  font-family: "ATF-Spark";
  color: #1d78bd;
  -webkit-font-variant-ligatures: contextual;
          font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "calt";
  font-feature-settings: "calt"; }


a{color:#1d78bd; text-decoration: underline;}
a:hover{color: #0B4970; }

strong{ font-weight: 700; }

/* Headings */
h1,h2,h3,h4,h5,h6{font-weight:600;}

h2 {
  font-size: 1.7em;
  line-height: 1.4em;
  font-weight: 500;
}

h3.inline-year {
  font-size: 2rem;
  /* margin: 2em 0 0em 0.57em; */
  color: #222 !important;
  line-height: 1;
  overflow: hidden;
  z-index: 100;
  position: relative;
}

h3.inline-year span {
  display: inline-block;
  position: relative;
}

h3.inline-year span::after {
  left: 100%;
  margin-left: 0.5em;
}

h3.inline-year span::after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #D9D9D7;
  top: 49%;
  width: 10000%
}

.size-2x {
  font-size: calc(1em + .5vw);
  margin-bottom: 1.5em;
  font-weight: 300;
}

.pad2y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.limiter {
  max-width: 1200px;
  padding: 0 40px;
}

.project-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

a.project {
  text-decoration: none;
  color: #666;
  font-size: 0.8rem;
}

a.project img {
  display: block;
  margin-bottom: 10px;
}

span.dropcap {
  font-size: 3.75rem;
  float: left;
  margin-right: .15rem;
  line-height: 1;
  font-weight: bold;
}

.intro__main {
  font-size: 2.2rem;
  max-width: 60%;
}

.list-posts{list-style-type:none;margin:0;padding:0; font-weight: 300;}

.list-items{list-style-type:none;margin:0;padding:0; font-weight: 300;}
/* .list-items{margin:1rem 0;font-size:1rem} */

.list-items li {
  display: block;
  border-bottom: 1px solid #D9D9D7;
  /* min-height: 180px; */
}

.list-items a {
  text-decoration: none;
  color: #4A4235;
  border: none;
}

.list-items h3 {
  color: #1d78bd;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.list-items .oneliner {
  color: #4A4235;
}

.list-items .featured {
  min-height: 200px;
}

.hero-wrap img {
  max-width: 200px;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.external-url {
  font-weight: 300;
}

p.sublarge {
  font-size: 1.2em;
  margin-top: -0.3rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  color: #5b666d;
  line-height: 1.5;
  position: relative;
}

p.sublarge::after {
  width: 4em;
  position: absolute;
  content: "";
  height: 2px;
  display: block;
  left: 0;
  bottom: 0;
  background: #d6d6d6;
}

.view-more-posts {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 1.2em;
}

.view-more-posts h2 {
  line-height: 1;
  margin-bottom: 0;
  font-size: 1.05rem;
}

.view-more-posts h2 a {
  text-decoration: none;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 500;
  color: #1D78BD;
  padding: 0.7rem 1.3rem 0.65rem;
  border: 1px solid #1D78BD;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;  
}

.view-more-posts h2 a:hover {
  background: #1D78BD;
  color: white;
}

.view-more-posts small {
  color: #aaa;
  display: block;
  margin-top: 1.65em;
  font-size: 0.8rem;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.6em;
}

ul, ul li {
  font-size: 16px;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

hr {
  height: 3px;
  border-radius: 3px;
  background: #e8e8e8;
  border: none;
  width: 8rem;
  margin: 4rem auto 4rem;
  display: block;
}

/* hr {
  background-color: #c5c5c5;
  width: 66%;
  height: 1px;
  border: 0;
  /* margin: 2rem auto; */
} */

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
.code,
g.highlight,
li code,
p code,
pre code{font-family:San Francisco Mono,Monaco,Consolas,Lucida Console,DejaVu Sans Mono,Bitstream Vera Sans Mono,monospace;
         font-size: 90%;}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f4f4f4;
  border-radius: 3px;
}
pre {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
code a {
  border: none;
}
.highlight {
	white-space: pre;
	overflow: auto;
	word-wrap: normal;
	border-radius: 0;
	padding: 20px;
	margin: 0;
	margin-bottom: 30px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  position: relative;
  margin: 0 0 1.5em;
  padding: 0.75em 1.5em 0.75em;
  font-size: 1rem;
  color: #3b3d40;
}

blockquote.huge {
  max-width: 130%;
  border: none;
  color: #678;
  padding: 0;
  font-size: 1.7rem;
  margin: 1.7em -15% 1.7em;
}

blockquote.pull-right {
  margin: 0.2rem -20% 0.4rem 1.5rem;
  float: right;
  line-height: 1.5;
  padding: 0;
  width: 40%;
  border: none;
  color: #678;
  font-size: 1.15rem;
}

blockquote .author {
  font-size: 1.2rem;
}

blockquote::before {
  position: absolute;
  content: " ";
  left: 0;
  width: 4px;
  background: #cfd7dd;
  top: .5em;
  border-radius: 6px;
  height: calc(100% - 1em);
}

@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Images */
img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  width: auto;
}

img.avatar {
  background-size: 100%;
  display: block;
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  margin-right: 15px;
}

a img { border-width: 0; }

figcaption {
  padding-top: 10px;
  clear: both;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.8571;
  line-height: 1.3;
  color: #3c3c3c;
  text-align: center;
}

figure {
padding-top: 10px;
padding-bottom: 10px;
margin: 0;
*zoom: 1;
}

figure:before,
figure:after {
display: table;
line-height: 0;
content: "";
}

figure:after {
clear: both;
}

figure img {
margin-bottom: 10px;
width: 65%;
height: auto;
}

figure a img:hover {
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
-webkit-animation: pop .3s linear;
   -moz-animation: pop .3s linear;
        animation: pop .3s linear;
}

@media only screen and (min-width: 62.5em) {
figure.half img {
  float: left;
  width: 290px;
  margin-right: 10px;
}
figure.half figcaption {
  clear: left;
}
}

@media only screen and (min-width: 62.5em) {
figure.third img {
  float: left;
  width: 180px;
  margin-right: 10px;
}
figure.third figcaption {
  clear: left;
}
}

.about-intro figure {
  display: inline-block;
}

.about-intro img {
  height: auto;
  width: 70%;
}

.about-intro figcaption {
  color: #999;
  display: block;
  font-size: .5em;
  text-align: left;
}

.image-credit {
  color: #999;
  display: block;
  font-size: .5em;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* Content */
.container {
  max-width: 42rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

.text_small {
  color: #777;
  display: inline;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  width: 15%;
  padding-right: 5%;
  text-align:left;
}

aside {
  padding: 5px 10px;
  margin-bottom: 2em;
  font-size: small;
  background: rgba(0, 0, 0, 0.07);
  line-height: 1.5em;
}

aside.cv {
  text-align: right;
  background: none;
  font-size: .7em;
}

#note {
  text-align: center;
  font-weight: 300;
  margin: auto;
  padding: 1em;
  width: 80%;
}

.page,
.post {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 0.8rem;
}

.post-date-link-blog {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 0.8rem;
}

.title {
  line-height: 2.5rem;
}

.link-post-out {
  display: block;
  background: #f2f2f2;
  padding: 5px;
  border: 1px solid #e5e5e5;
}

.article-list {
  display: block;
  padding: 0;
  margin: 50px 0;
  list-style: none;
}

.article-list li {
  padding: 30px 0;
  border-bottom: 1px solid #ebeaea;
}

.article-list-tags {
  display: inline-block;
  vertical-align: top;
}

.article-list-footer {
  display: block;
}

.article-list-footer span {
  display: inline-block;
  font-size: 11px;
  color: #333;
  vertical-align: middle;
}

.meta a {
  text-decoration: none;
}

/* data viz */
.attribution {
    font-size: small;
    margin-bottom: 2em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.bar {
  fill: steelblue;
}

svg {
  font: 13px sans-serif;
}

/* nav */
ul.navigation{
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
}
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-nav-item {
  display: inline;
  font-size: 0.9em;
}
li#nav-title a {color:#333;text-decoration: none;border:none;}
.sidebar-nav-item:after { content: " | "; color: #D9D9D7;}
.sidebar-nav-item:last-child:after{content:"";}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

footer {
  margin-top: 25px;
}
footer p {
  font-size: 0.7em;
}

.revisions::before {
  content: "\f040";
  font-family: FontAwesome;
  font-size: 0.9rem;
}