{{ define "main" }}

<div class="pad2y limiter content">
  <div class="body">
    <article class="h-entry">
      <header>
        {{ if .Title }}
        <h1 class="post-title p-name">{{ .Title }}</h1>
        {{ end }}

        {{ if .Params.summary }}
        <p class="post-subtitle p-summary">{{ .Params.summary }}</p>
        {{ end }}
      </header>

      <div class="post-body e-content">
        {{ .Content }}
      </div>

      {{ if .Params.categories }}
      <footer class="post-footer">
        <p class="article-filed">Filed under:
          {{ range $index, $category := .Params.categories }}
            {{ if $index }}, {{ end }}
            <a href="/categories/{{ $category | urlize }}/">{{ $category }}</a>
          {{ end }}
        </p>
      </footer>
      {{ end }}
    </article>

    <aside class="blog-nav">
      <p class="reading-time">
        Published <a href="{{ .Permalink }}" class="u-url u-uid permalink"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "January 2, 2006" }}</time></a>, contains {{ .WordCount }} words and should take you about {{ .ReadingTime }} minute(s) to read it.
        &middot; <a href="/feed.xml">Subscribe to these essays</a>
      </p>

      <p class="impact">
        This page loaded in <strong><span id="page_load"></span></strong> seconds
        and used ~<strong><span id="carbon"></span>kb</strong> of data. You've
        generated around <strong><span id="page_carbon"></span>g</strong> of CO2 by
        visiting. <a href="https://jasonheppler.org/low-impact/">Curious</a>?
      </p>

      <p>
        <a href="https://jasonheppler.org">Jason Heppler</a> is a historian, small farmer, software developer, and writer on the central plains of Nebraska. He is the author of <a href="/publications/">several books</a> and his essays have appeared at the <em>Washington Post</em>, <em>The Conversation</em>, and <em>Perspectives</em>. He writes a <a href="https://www.tackandink.org/">newsletter</a> on his research about agricultural history, land use, public lands, and American politics.
      </p>
      <p>
        You can sometimes find him on <a href="https://bsky.app/profile/jasonheppler.org">Bluesky</a>, <a href="https://www.instagram.com/hepplerj/">Instagram</a>, and <a href="https://writing.jasonheppler.org">micro.blog</a>.
      </p>
    </aside>

      {{ if .Site.Params.include_conversation }}
      <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
      {{ end }}

    <script>
      page_data = (document.documentElement.outerHTML.length / 1024).toFixed(2);
      document.getElementById("carbon").innerHTML = page_data;

      page_carbon = (page_data / 12).toFixed(2);
      document.getElementById("page_carbon").innerHTML = page_carbon;

      window.onload = function () {
        var loadTime =
          window.performance.timing.domContentLoadedEventEnd -
          window.performance.timing.navigationStart;
        document.getElementById("page_load").innerHTML = (loadTime / 1000).toFixed(
          2,
        );
      };
    </script>
  </div>
</div>

{{ end }}
