{{- $param := .Get 0 -}}
{{- $year := now.Year -}}

{{- if eq $param "progress" -}}
  {{- with index .Site.Data.bookgoals (string $year) -}}
    {{- printf "%v of %v" .progress .value -}}
  {{- end -}}
{{- else -}}
  {{- $goal := index .Site.Data.bookgoals (string $param) -}}
  {{- with $goal -}}
    <div class="bookgoals">{{- range .books -}}<a href="{{ .post_url }}"><img src="{{ .cover_url }}" alt="{{ .title }}" width="100" height="120" class="cover"></a>{{- end -}}</div>
  {{- end -}}
{{- end -}}
