{{ partial "head.html" . }}

<div class='pad2y limiter content'>
  <div class="body"> 
    <section class="microblog" style="border: 1px solid #333;">
<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="writing">  
{{ $paginator := .Paginate (.Data.Pages) }}
{{ range $paginator.Pages.GroupByDate "2006" "01" }}
  <h2 id="section-{{.Key| urlize }}" class="sticky">{{ .Key }}</h2>
  <div class="list-archives">
    {{ range .Pages }}
      <div class="item-archive-entry">
        <article class="archive-entry">
          <a href="{{ .Permalink }}" class="archive-title">{{ .Title }}</a></li>
          <span class="sr-only">Posted on </span>
          <time class="meta-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
          {{ if .Params.lede }}
          <p class="teaser"><em>{{ .Params.lede | markdownify }}</em></p>
          {{ end }}
          {{ if .Params.tags }}
          <p class="article-filed">Filed under: <span class="article-tags">{{ partial "tags.html" .}}</span> | Word count: {{ .WordCount }} | Reading time: {{ .ReadingTime }} minute(s)</p>
          {{ end }}
            {{ .Summary }}

            <a href="{{ .Permalink }}" class="read-more">Read more &rarr;</a>
        </article>
      </div>
    {{ end }}
    </div>
{{ end }}
</div>
</section>

      {{ template "_internal/pagination.html" . }}

<!-- </div> -->

{{ partial "foot.html" . }}
</div>
 </div>
