<aside class="lm-author p-author h-card">
  <img src="/assets/images/portrait.webp" alt="Jason A. Heppler" class="u-photo" width="56" height="56">
  <div class="lm-author-text">
    <span class="lm-author-name p-name">Jason A. Heppler</span>
    <span class="lm-author-role">Environmental &amp; digital historian</span>
  </div>
  <div class="lm-author-links">
    {{ with site.Params.social.bluesky }}<a href="{{ . }}">Bluesky</a>{{ end }}
    {{ with site.Params.social.mastodon }}<a href="{{ . }}" rel="me">Mastodon</a>{{ end }}
    <a href="https://github.com/hepplerj">GitHub</a>
  </div>
</aside>
