/*
 * Designed from a modified version of Poole by @mdo.
 * https://github.com/poole/poole.
 */


/*
 * Contents
 *
 * Body resets
 * Custom type
 * Messages
 * Container
 * Masthead
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 */


/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Merriweather", serif;
  font-size: 100%;
  line-height: 1.5;
  color: #222;
}
@media (min-width: 38rem) {
  html {
    font-size: 100%;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  margin-top: 1em;
  font-size: 1.55em;
}
h3 {
  margin-top: 1.5em;
  font-size: 1.20em;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1em;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Merriweather", serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
}

.post ul, ul li {
  font-size: 1em;
}

@media (min-width: 38rem) {
  p {
    font-size: 14px;
  }
}

strong {
  color: #303030;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.well {
  padding: 3em;
  margin-bottom: 3em;
  text-align: justify;
  font-size: 1.2em;
  background: #f9f9f9;
  border: 1px #333 dotted;
}

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.post-date-link-blog {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: .9em;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30rem) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}

/* data viz */
.attribution {
    font-size: small;
    margin-bottom: 2em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.bar {
  fill: steelblue;
}

svg {
  font: 13px sans-serif;
}

.zero_items {
    fill: gray;
    fill-opacity: 0.2;
}

/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */


/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "Merriweather", serif;
}
@media (min-width: 48rem) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 58rem) {
  html {
    font-size: 100%;
  }
}


/*
* Images
*/

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img { border-width: 0; }

figcaption {
  padding-top: 10px;
  clear: both;
  /*font-family: Georgia, serif;*/
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.8571;
  line-height: 1.3;
  color: #3c3c3c;
  text-align: center;
}

figure {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  *zoom: 1;
}

figure:before,
figure:after {
  display: table;
  line-height: 0;
  content: "";
}

figure:after {
  clear: both;
}

figure img {
  margin-bottom: 10px;
  width: 65%;
  height: auto;
}

figure a img:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: pop .3s linear;
     -moz-animation: pop .3s linear;
          animation: pop .3s linear;
}

@media only screen and (min-width: 62.5em) {
  figure.half img {
    float: left;
    width: 290px;
    margin-right: 10px;
  }
  figure.half figcaption {
    clear: left;
  }
}

@media only screen and (min-width: 62.5em) {
  figure.third img {
    float: left;
    width: 180px;
    margin-right: 10px;
  }
  figure.third figcaption {
    clear: left;
  }
}

.about-intro figure {
    display: inline-block;
    margin-left: 16%;
    width: 40%;
}

.about-intro img {
    height: auto;
    width: 100%;
}

.about-intro figcaption {
    color: #999;
    display: block;
    font-size: .5em;
    text-align: left;
}

.image-credit {
  color: #999;
  display: block;
  font-size: .5em;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  text-shadow: 1px 1px 1px black;
  padding: 2rem 1rem;
  color: #fff;
  background-color: #202020;
  background-image: url("/assets/images/west_desert2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Merriweather", serif;
  font-size: 2em;
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-nav-item {
  display: inline;
}
.sidebar-nav-item:after { content: "ãƒ»";}
.sidebar-nav-item:last-child:after{content:"";}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48rem) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48rem) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64rem) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/*
* Essay information
*/

.essay-content-meta {
  display: none; }

.essay-info {
  border-bottom: 2px solid #DDD;
  border-top: 2px solid #DDD;
  font-size: .9em;
  margin: 2em auto;
  padding: 2em 0 1em;
  text-align: center; }

.essay-info-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 20%; }
  .essay-info-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: auto;
    width: 100%; }

.essay-info-biography {
  display: inline-block;
  vertical-align: top; }

@media only screen and (min-width: 640px) {
  .essay-content {
    margin-top: 3em;
    padding: 0;
    max-width: 680px; }
    .essay-content h1 {
      font-size: 4.5em;
      line-height: .95em;
      margin-bottom: .5em; }
    .essay-content p, .essay-content li {
      font-size: 1.1em;
      line-height: 1.75em; }

  .essay-author {
    font-size: .7em; }

  .essay-info {
    padding-top: 2em;
    text-align: left; }

  .essay-info-avatar {
    margin-left: -2%;
    margin-right: 5%;
    width: 18%; }

  .essay-info-biography {
    width: 78%; } }
@media only screen and (min-width: 1000px) {
  .essay-content {
    margin-left: 16.667%;
    width: 680px; }


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48rem) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64rem) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

footer {
  font-size: 13px;
}


/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* Red */
.theme-base-08 .sidebar {
  background-color: #ac4142;
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
.theme-base-09 .sidebar {
  background-color: #d28445;
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
.theme-base-0a .sidebar {
  background-color: #f4bf75;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
.theme-base-0b .sidebar {
  background-color: #90a959;
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
.theme-base-0c .sidebar {
  background-color: #75b5aa;
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .sidebar {
  background-color: #aa759f;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
.theme-base-0f .sidebar {
  background-color: #8f5536;
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}
