{{ partial "head.html" . }}

<div class='pt-10 site-container content'>
  <div class="body">
<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="writing">
{{ $paginator := .Paginate (.Data.Pages) }}
{{ range $paginator.Pages.GroupByDate "2006" "01" }}
  <h2 id="section-{{.Key| urlize }}" class="sticky top-0 bg-[var(--theme-background)] z-[1] max-sm:static max-sm:top-auto max-sm:z-auto">{{ .Key }}</h2>
  <div>
    {{ range .Pages }}
      <div>
        <article class="pb-8 mb-8 mt-24">
          <a href="{{ .Permalink }}" class="text-[125%] font-bold pt-8 block">{{ .Title }}</a>
          <span class="sr-only">Posted on </span>
          <time class="float-right" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
          {{ if .Params.lede }}
          <p class="max-w-[40rem] mt-[.35rem] mb-[.5rem]"><em>{{ .Params.lede | markdownify }}</em></p>
          {{ end }}
          {{ if .Params.tags }}
          <p class="text-[75%] m-0">Filed under: <span class="article-tags">{{ partial "tags.html" .}}</span> | Word count: {{ .WordCount }} | Reading time: {{ .ReadingTime }} minute(s)</p>
          {{ end }}
            {{ .Summary }}

            <a href="{{ .Permalink }}">Read more &rarr;</a>
        </article>
      </div>
    {{ end }}
    </div>
{{ end }}
</div>

      {{ template "_internal/pagination.html" . }}

  </div>
</div>

<div class="site-container">
  {{ partial "foot.html" . }}
</div>
