{{ $posts := where site.RegularPages "Type" "post" }}

{{ $titlePostsCount := len ( where $posts ".Params.title"  "!=" nil ) }}
{{ $microPostsCount := len ( where $posts ".Params.title"  "=" nil ) }}

{{ $scratch := newScratch }}
{{ $scratch.Set "longCount" 0 }}
{{ range $posts }}
    {{ $scratch.Add "wordcount" .WordCount }}
	{{ if ge .WordCount ($scratch.Get "longCount") }}
		{{ $scratch.Set "longestPost" . }}
		{{ $scratch.Set "longCount" .WordCount }}
	{{ end }}
{{ end }}

{{ $postCount :=  len ($posts) }}
{{ $wordCount := $scratch.Get "wordcount" }}
{{ $avgPostLength := 0 }}
{{ if gt $postCount 0 }}
    {{ $avgPostLength = div $wordCount $postCount }}
{{ end }}
<table class="post-stats-tbl">
    <tr>
        <td width="40%">Total Posts Published</td>
        <td width="60%">{{ $postCount | lang.NumFmt 0 }}</td>
    </tr>
    <tr>
		<td>Total Words Written</td>
		<td>{{ $wordCount | lang.NumFmt 0 }}{{ if gt $wordCount 40000 }} (that's almost {{ (div $wordCount 40000) | lang.NumFmt 0 }} novellas){{ end }}</td>
	</tr>
    <tr>
		<td>Average Words per Post</td>
		<td>{{ $avgPostLength | lang.NumFmt 0 }}</td>
	</tr>
    <tr>
		<td>First Post Published</td>
		<td>
            {{ range last 1 $posts }}
                {{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> published on {{ .Date.Format "2006-01-02" }}
				{{ else }}<a href="{{ .Permalink }}">Micro Post</a> published on {{ .Date.Format "2006-01-02" }} 
				{{ end }}
            {{ end }}
		</td>
	</tr>
	<tr>
		<td>Longest Post Published</td>
		<td>
            {{ with $scratch.Get "longestPost" }}
                {{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> with {{ .WordCount }} words
				{{ else }}<a href="{{ .Permalink }}">Micro Post</a> with {{ .WordCount }} words
				{{ end }}
            {{ end }}
		</td>
	</tr>
    <tr>
		<td>Posts with Title</td>
		<td>{{ $titlePostsCount | lang.NumFmt 0 }}</td>
	</tr>
    <tr>
		<td>Posts without Title</td>
		<td>{{ $microPostsCount | lang.NumFmt 0 }}</td>
	</tr>
</table>

{{ $grouped := $posts.GroupByDate "2006" }}

<h3 class="post-stats-hd">Posts Per Year</h3>

<div style="width: 100%;height: 300px;margin: 30px auto">
    <canvas id="yearchart"></canvas>
</div>

<button id="toggleTableBtn">Show Posts by Year</button>

<div id="tableContainer" class="collapsed">
<table class="post-stats-tbl">
    <tr>
        <th width="30%">Year</td>
        <th width="70%">Number of Posts</td>
    </tr>
    {{ range $grouped.Reverse }}
	{{ $yearPostCount := len (where .Pages "Type" "post") }}
		<tr>
            <td>{{ .Key }}</td>
            <td>{{ $yearPostCount | lang.NumFmt 0 }}</td>
        </tr>
		{{ $scratch.Add "yearKeys" "'"  }}
		{{ $scratch.Add "yearKeys" .Key  }}
		{{ $scratch.Add "yearKeys" "',"  }}
		{{ $scratch.Add "yearCount" (string $yearPostCount) }}
		{{ $scratch.Add "yearCount" ","  }}
    {{ end }}
</table>
</div>

{{ $chartPre := "{type: 'line',data: {labels: [" }}
{{ $chartYearKeys := trim ($scratch.Get "yearKeys") ","}}
{{ $chartYearCount := trim ($scratch.Get "yearCount") ","}}
{{ $chartMid := "],datasets: [{label: 'Posts Published',data: [" }}
{{ $chartPost := "],backgroundColor: 'rgb(54, 162, 235)',borderColor: 'rgb(54, 162, 235)',borderWidth: 1}]},options: {maintainAspectRatio: false,scales: {yAxes: [{ticks: {beginAtZero: true}}]}}}" }}


{{ $chartData := printf "%s" $chartPost | printf "%s%s" $chartYearCount | printf "%s%s" $chartMid | printf "%s%s" $chartYearKeys | printf "%s%s" $chartPre | printf "%s" }}

{{ if .Site.Params.disable_year_recap }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.js"></script>
{{ end }}

<script type="text/javascript">
    var ctx = document.getElementById('yearchart').getContext('2d');
    var options = {{ $chartData | safeJS }};
    new Chart(ctx, options);
</script>

<h3 class="post-stats-hd">Category Cloud for Posts</h3>
<div class="categorycloud">
    {{ if ne (len $.Site.Taxonomies.categories) 0 }}
      {{ $largestFontSize := 1.4 }}
      {{ $smallestFontSize := 1.0 }}
      {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
      {{ $max := add (len (index $.Site.Taxonomies.categories.ByCount 0).Pages) 1 }}
      {{ $min := len (index $.Site.Taxonomies.categories.ByCount.Reverse 0).Pages }}
      {{ $spread := sub $max $min }}
      {{ $fontStep := 0 }}
      {{ if gt $spread 0 }}
        {{ $fontStep = div $fontSpread $spread }}
      {{ end }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
          {{ $categoryCount := len $taxonomy.Pages }}
          {{ $currentFontSize := $smallestFontSize }}
          {{ if gt $spread 0 }}
            {{ $currentFontSize = (add $smallestFontSize (mul (sub $categoryCount $min) $fontStep) ) }}
            {{ $weigth := div (sub (math.Log $categoryCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize = (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
          {{ end }}
            <a href="{{ "/categories/" | relURL }}{{ $name | urlize }}" 
            class="categorycloud-item" style="font-size: {{ $currentFontSize }}rem;">
              {{ $name }}<sup>{{ $categoryCount }}</sup>
            </a>
        {{ end }}
    {{ end }}
</div>