{{ if not .Site.Params.disable_year_recap }}
    {{ $now := now }}
    {{ $recapYear := cond (gt $now.Month 11) $now.Year (sub $now.Year 1) }}
    {{ $lastYear := sub $recapYear 1 }}

    {{ $recapPosts := where .Site.RegularPages "Type" "post" }}
    {{ $postsLastYear := where .Site.RegularPages "Type" "post" }}

    {{ $recapPosts := where $recapPosts "Date.Year" $recapYear }}
    {{ $postsLastYear := where $postsLastYear "Date.Year" $lastYear }}

    {{ $postsChange := sub (len $recapPosts) (len $postsLastYear) }}
    {{ $arrow := "" }}
    {{ $arrowColor := "" }}

    {{ if gt $postsChange 0 }}
    {{ $arrow = "↑" }}
    {{ $arrowColor = "green" }}
    {{ else if lt $postsChange 0 }}
    {{ $arrow = "↓" }}
    {{ $arrowColor = "red" }}
    {{ else }}
    {{ $arrow = "→" }}
    {{ $arrowColor = "gray" }}
    {{ end }}

    {{ $recapTitled := len ( where $recapPosts ".Params.title"  "!=" nil ) }}
    {{ $recapMicro := len ( where $recapPosts ".Params.title"  "=" nil ) }}
    {{ $postsWithImages := len ( where $recapPosts ".Params.images" "!=" nil ) }}

    {{ $recapScratch := newScratch }}
    {{ $recapScratch.Set "longCount" 0 }}
    {{ range $recapPosts }}
        {{ $recapScratch.Add "wordcount" .WordCount }}
        {{ if ge .WordCount ($recapScratch.Get "longCount") }}
            {{ $recapScratch.Set "longestPost" . }}
            {{ $recapScratch.Set "longCount" .WordCount }}
        {{ end }}
    {{ end }}

    {{ $recapScratch.Set "previouswordcount" 0 }}
    {{ range $postsLastYear }}
        {{ $recapScratch.Add "previouswordcount" .WordCount }}
    {{ end }}

    {{ $recapPostCount :=  len ($recapPosts) }}
    {{ $recapWordCount := $recapScratch.Get "wordcount" }}
    {{ $previousWordCount := $recapScratch.Get "previouswordcount" }}
    {{ $recapAvgPostLength := 0 }}
    {{ if gt $recapPostCount 0 }}
        {{ $recapAvgPostLength = div $recapWordCount $recapPostCount }}
    {{ end }}

    {{ $wordChange := sub $recapWordCount $previousWordCount }}
    {{ $wordTrend := "" }}
    {{ $wordTrendColor := "" }}

    {{ if gt $wordChange 0 }}
    {{ $wordTrend = "↑" }}
    {{ $wordTrendColor = "green" }}
    {{ else if lt $wordChange 0 }}
    {{ $wordTrend = "↓" }}
    {{ $wordTrendColor = "red" }}
    {{ else }}
    {{ $wordTrend = "→" }}
    {{ $wordTrendColor = "gray" }}
    {{ end }}

    <h2 id="year-recap-2024">Year Recap - {{ $recapYear }}</h2>

    <table class="post-stats-tbl">
        <tr>
            <td width="40%">Total Posts Published</td>
            <td width="60%">{{ $recapPostCount | lang.NumFmt 0 }} <span style="color: {{ $arrowColor }};">{{ $arrow }}</span></td>
        </tr>
        <tr>
            <td>Total Words Written</td>
            <td>
                {{ $recapWordCount | lang.NumFmt 0 }}{{ if gt $recapWordCount 60 }} (that's almost {{ (div $recapWordCount 60) | lang.NumFmt 0 }} tweets){{ end }}
                <span style="color: {{ $wordTrendColor }};">{{ $wordTrend }}</span></td>
            </td>
        </tr>
        <tr>
            <td>Insights</td>
            <td>
                <ul>
                    <li>Posted {{ $postsWithImages | lang.NumFmt 0 }} posts with images</li>
                    {{ if gt $recapTitled $recapMicro }}
                        <li>Posted more posts with title ({{ $recapTitled | lang.NumFmt 0 }}) than without ({{ $recapMicro | lang.NumFmt 0 }})</li>
                    {{ else if gt $recapMicro $recapTitled }}
                        <li>Posted more posts without title ({{ $recapMicro | lang.NumFmt 0 }}) than with ({{ $recapTitled | lang.NumFmt 0 }})</li>
                    {{ end }}
                    <li>Average words per post in the year was {{ $recapAvgPostLength | lang.NumFmt 0 }}</li>
                    <li>Longest Post - 
                        {{ with $recapScratch.Get "longestPost" }}
                            {{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> with {{ .WordCount }} words
                            {{ else }}<a href="{{ .Permalink }}">Micro Post</a> with {{ .WordCount }} words
                            {{ end }}
                        {{ end }}
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <div style="width: 100%;height: 300px;margin: 30px auto">
        <canvas id="recapyearchart"></canvas>
    </div>

    <!-- Chart for posts by month -->
    {{ $groupedRecap := $recapPosts.GroupByDate "January" }}

    {{ range $groupedRecap.Reverse }}
        {{ $monthCount := len (where .Pages "Type" "post") }}
        {{ $recapScratch.Add "monthKeys" "'"  }}
        {{ $recapScratch.Add "monthKeys" .Key }}
        {{ $recapScratch.Add "monthKeys" "',"  }}
        {{ $recapScratch.Add "monthCount" (string $monthCount) }}
        {{ $recapScratch.Add "monthCount" ","  }}
    {{ end }}

    {{ $chartMonthKeys := trim ($recapScratch.Get "monthKeys") ","}}
    {{ $chartMonthCount := trim ($recapScratch.Get "monthCount") ","}}

    {{ $chartPre := "{type: 'line',data: {labels: [" }}
    {{ $chartMid := "],datasets: [{label: 'Posts Published',data: [" }}
    {{ $chartPost := "],backgroundColor: 'rgb(54, 162, 235)',borderColor: 'rgb(54, 162, 235)',borderWidth: 1}]},options: {maintainAspectRatio: false,scales: {yAxes: [{ticks: {beginAtZero: true}}]}}}" }}

    {{ $recapChartData := printf "%s" $chartPost | printf "%s%s" $chartMonthCount | printf "%s%s" $chartMid | printf "%s%s" $chartMonthKeys | printf "%s%s" $chartPre | printf "%s" }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.js"></script>
    <script type="text/javascript">
        var ctx = document.getElementById('recapyearchart').getContext('2d');
        var options = {{ $recapChartData | safeJS }};
        new Chart(ctx, options);
    </script>
{{ end }}