---
layout: default
---

<div class="post">
  <!-- <h1 class="post-title">{{ page.title }}</h1> -->
  <div class="posthead">
  <p class="byline">{% if page.post_type %}{{ page.post_type }}{% endif %} <span><time datetime="{{ page.date | date_to_xmlschema }}">
          {% assign m = page.date | date: "%B" %}
          {% case m %}
            {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
            {% when 'September' %}Sept.
            {% else %}{{ page.date | date: "%b" }}.
          {% endcase %}
          {{ page.date | date: "%-d" }},
          {{ page.date | date: "%Y"}}
          </time> | {{ page.content | number_of_words | divided_by:180 }} Minute Read
                  | {{page.content | number_of_words | thousands_separated }} Words</span></p>
  
  </p>
  <p class="break">–</p>
  <h1 class="title">{{ page.title }}</h1>
  {% if page.intro %}<p class="description">{{ page.intro }}</p>{% endif %}
  </div>
  {% if page.image.feature %}
    <div class="overlay"></div>
    <img class="featured-image" src="{{ site.url }}/assets/images/{{ page.image.feature }}"/>
  {% endif %}

  {{ content }}

  {% if page.external-url %}
  <p class="link-post-out"><i class="fa fa-link"></i> <a href="{{ page.external-url }}">{{ page.title }} →</a></p>
  {% endif %}
</div>


<div class="essay-info">
  <figure class="essay-info-avatar"><img src="/assets/images/me.jpg" title="Hello, nice to meet you."></figure>

  <div class="essay-info-biography">

    <h5>About Jason</h5>
    <p>I'm an historian from the Great Plains working at Stanford University. I like to write about history, technology, environment, culture, and coffee. You can follow <a href="http://twitter.com/jaheppler">me on Twitter</a>, or learn <a href="/about/" title="More about Jason">more about me</a>.</p>
    <p>This was written on {{ page.date | date: "%B %d, %Y" }}.</p>

    <p><a href="/archives/">&larr; Read more essays</a></p>
  </div>
</div>

    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'jasonhepplerorgsite';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
