---
layout: default
---

<div class="post">
  <!-- <h1 class="post-title">{{ page.title }}</h1> -->
  <div class="posthead">
  <h1 class="title">{{ page.title }}</h1>
  {% if page.intro %}<p class="description">{{ page.intro }}</p>{% endif %}
  </div>
  {% if page.image.feature %}
    <div class="overlay"></div>
    <img class="featured-image" src="{{ site.url }}/assets/images/{{ page.image.feature }}"/>
  {% endif %}

  {{ content }}

  {% if page.external-url %}
  <p class="link-post-out"><i class="fa fa-link"></i> <a href="{{ page.external-url }}">{{ page.title }} →</a></p>
  {% endif %}
</div>

<div class="essay-info">
  <div class="essay-info-biography">
    <p>{{ page.date | date: "%B %d, %Y" }} <a href="http://twitter.com/{{site.owner.twitter}}">@{{site.owner.twitter}}</a></p>
  </div>

  <div class="essay-meta">
    <p class="meta">Tagged in: {% for tag in page.tags %}<code><a href="/tags/{{ tag | downcase | replace: ' ', '_' }}/">{{ tag }}</a></code>{% if forloop.last %}{% else %} {% endif %}{% endfor %}</p>
  </div>

</div>