---
layout: default
---

<div class="post">
  <!-- <h1 class="post-title">{{ page.title }}</h1> -->
  <div class="posthead">
  <p class="byline"><span><a href="{{ site.url }}">{{ site.title }}</a> / <a href="{{site.url}}/archives/">Writing</a> / {{page.title}}</span></p>
  <h1 class="title">{{ page.title }}</h1>
  {% if page.intro %}<p class="description">{{ page.intro }}</p>{% endif %}
  </div>
  {% if page.image.feature %}
    <div class="overlay"></div>
    <img class="featured-image" src="{{ site.url }}/assets/images/{{ page.image.feature }}"/>
  {% endif %}

  {{ content }}

  {% if page.external-url %}
  <p class="link-post-out"><i class="fa fa-link"></i> <a href="{{ page.external-url }}">{{ page.title }} →</a></p>
  {% endif %}
</div>


<div class="essay-info">
  <figure class="essay-info-avatar"><img src="/assets/images/me.jpg" title="Hello, nice to meet you."></figure>

  <div class="essay-info-biography">

    <h5>About Jason</h5>
    <p>I am a digital historian at the University of Nebraska at Omaha and a scholar of the twentieth-century United States. I often write here about the history of the North American West, technology, the environment, politics, culture, and coffee. You can follow <a href="http://twitter.com/jaheppler" title="Follow Jason on Twitter">me on Twitter</a>, or learn <a href="{{ site.url }}" title="More about Jason">more about me</a>.</p>
    
	<p>This was written on <a href="{{page.url}}" title="{{page.date}}">{{ page.date | date: "%B %d, %Y" }}</a> | {% capture words %}
            {{ page.content | number_of_words }}
          {% endcapture %}
          {% unless words contains "-" %}
            {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
          {% endunless %} | {{page.content | number_of_words | thousands_separated }} Words<br/>
		  Filed under: 
					{% for tag in page.tags %}
					<a href="{{ 'tag/' | relative_url }}{{ tag }}" title="See posts tagged with {{ tag }}">{{ tag }}</a>
			        {% endfor %}</p>

    <p><a href="/archives/">&larr; Read more essays</a></p>
  </div>
</div>

    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'jasonhepplerorgsite';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
