<!doctype html>
<html lang="en">
<title>Redirecting…</title>
<meta name="robots" content="noindex">

{{- $exclude_short_posts := not $.Site.Params.surprise_me_include_short_posts -}}
{{- $exclude_long_posts := not $.Site.Params.surprise_me_include_long_posts -}}
{{- $posts := where .Site.Pages "Type" "post" -}}

{{- if $exclude_short_posts -}}
  {{- $posts = where $posts "Title" "!=" "" -}}
{{- end -}}

{{- if $exclude_long_posts -}}
  {{- $posts = where $posts "Title" "==" "" -}}
{{- end -}}

{{- range first 1 (shuffle $posts) -}}
  <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
{{- end -}}
