{{ partial "head.html" . }}

<article id='{{ urlize .Title }}' class="h-entry post">
  <section class="post-left">
  <header>
    <h2 class="post-title"><a href='{{ .Permalink }}' class='p-name'><strong>{{ .Title }}</strong></a> <span class="categories">{{ range .Params.categories }}{{ . }}{{ end }}</span></h2>
  </header>

  {{ with .Params.image }}
  <img src="/assets/images/{{ . }}" />
  {{ end }}

  <div class='post-body e-content'>
    {{ .Content }}
  </div>

  {{ if isset .Params "external" }}
  <p class="link-post-out">Linked: <a href="{{ index .Params "external" }}">{{ index .Params "title" }} →</a></p>
  {{ end }}
  </section>
</article>

{{ partial "blog-comments" . }}
{{ partial "blog-nav" . }}
{{ partial "foot" . }}
