:root {
  --site-theme: "light";
  --color-white: #fff;
  --color-black: #403d39;
  --color-yellow: #f5d652;
  --color-yellow-darker: #ffc700;
  --color-blue: #5522fa;
  --color-purple: #7700a2;
  --color-deep-purple: #673ab7;
  --color-light-purple: #7375a4;
  --color-grey: #263340;
  --color-light-grey: #96a1ad;
  --color-tan: #fbf7f0;
  --color-off-white: #fffaec;
  --color-salt: #cdd3ce;
  --color-red: #e10001;
  --color-green: #285246;
  --color-green-tint: #2f7851;
  --color-green-bright: #00d959;
  --color-green-fern: #588157;
  --color-green-fern-tint: #5b6c5d;
  --color-green-darker: #113d18;
  --color-orange: #eb5e28;
  --color-french-grey: #edeae6;
  --color-code-block: #f5f2f0;
  --color-text: var(--color-black);
  --color-background: var(--color-sheet);
  --color-sheet: #fffcf2;
  --color-neutral: var(--color-grey);
  --color-link: var(--color-deep-purple);
  --color-aside: #fffefa;
  --color--aside-faded: #eeeade;
  --theme-background: var(--color-background);
  --theme-text: var(--color-text);
  --theme-links: var(--color-deep-purple);
  --theme-links-hover: var(--color-text);
  --theme-dark-tint: var(--color-grey);
  --theme-light-tint: var(--color-salt);
  --theme-mark: rgba(235, 94, 40, 0.25);
  --space-base: 1em;
  --space-x-small: calc(var(--space-base) / 4);
  --space-small: calc(var(--space-base) / 2);
  --space-medium: var(--space-base);
  --space-large: calc(var(--space-base) * 2);
  --space-x-large: calc(var(--space-base) * 3);
  --space-xx-large: calc(var(--space-base) * 4);
  --space-xxx-large: calc(var(--space-base) * 6);
  --space-navbar: var(--space-triple);
  --space-mobile: 85%;
  --grid--gutter: 1.25rem;
  --font-serif: et-book, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  --font-sans: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  --font-mono: "iA Writer Duospace", San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  --type-base: calc(1.5em + 0.5vw);
  --type-xxx-small: 55%;
  --type-xx-small: 65%;
  --type-x-small: 75%;
  --type-small: 85%;
  --type-medium: 90%;
  --type-large: 125%;
  --type-x-large: 150%;
  --type-xx-large: 230%;
  --type-xxx-large: 340%;
  --photoset-card-spacing: 3.5rem;
  --postex-photoset-margin: 5rem;
  --postex-photoset-margin-responsive: 2rem;
  --nested-photoset-margin: 3.25rem;
  --nested-photoset-margin-responsive: 2rem;
}

@font-face {
  font-family: "Sentient";
  src: url(/assets/fonts/Sentient-VariableItalic.woff2) format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Sentient";
  src: url(/assets/fonts/Sentient-Variable.woff2) format("woff");
}

@font-face {
  font-family: "PublicSans";
  src: url(/assets/fonts/PublicSans-Regular.woff2) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Dirk";
  src: url(/assets/fonts/Dirk-Black.woff2) format("woff");
}

@font-face {
  font-family: "et-book";
  src: url(/assets/fonts/et-book-roman-old-style-figures.woff) format("woff");
}

@font-face {
  font-family: "et-book";
  src: url(/assets/fonts/et-book-display-italic-old-style-figures.woff) format("woff");
  font-style: italic;
}

@font-face {
  font-family: "et-book";
  src: url(/assets/fonts/et-book-semi-bold-old-style-figures.woff) format("woff");
  font-weight: bold;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 1rem;
  font-family: var(--font-sans);
  background: var(--theme-background);
  color: var(--theme-text);
}

.caps {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.065em;
}

.drop {
  display: block;
  float: left;
  font-size: 112px;
  margin: -19px 6px -20px 3px;
  line-height: 1;
  font-weight: normal;
}

.mono {
  font-family: var(--font-mono);
}

.smallish {
  font-size: var(--type-small);
}

.smaller {
  font-size: var(--type-x-small);
}

.even-smaller {
  font-size: var(--type-xx-small);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.mono {
  font-family: var(--font-mono);
}

.only-print {
  display: none;
}

.body img {
  width: 100%;
  max-width: 640px;
}

.site-title {
  font-weight: 700;
}

a {
  transition: color 200ms;
  border: 1px solid transparent;
  color: currentColor;
  text-decoration-color: var(--theme-links);
  text-decoration-thickness: 1px;
  text-underline-offset: .25rem;
}

a:hover {
  color: var(--theme-links);
}

/*
a,
em,
mark {
  font-family: Sentient;
}
*/

mark {
  background: var(--theme-mark);
}

.menu-item a {
  color: var(--theme-text);
}

/* a {
  color: #000;
  text-decoration-skip-ink: auto;
  text-decoration:underline
}

a:visited {
  color:#333
} */

p,
ul {
  margin: 1rem 0;
}

ul ul {
  margin: 0;
}

iframe {
  border: 0;
}

.small,
small {
  font-size: 14px;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
  line-height: 1.25;
  /*font-family: var(--font-serif);*/
  font-weight: 300;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.004em;
}

h2,
h3 {
  font-size: 1.5rem;
  letter-spacing: 0.009em;
}

h3 {
  font-size: 1.25rem;
}

.lede p {
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 1.4;
}

.noted {
  font-size: 0.9rem;
}

.limiter {
  max-width: 780px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pad2y {
  padding-top: 40px;
  padding-bottom: 40px;
}

hr {
  background: var(--theme-text);
  border: none;
  clip-path: initial;
  height: 1px;
  overflow: visible;
  position: static;
  width: 20%;
  margin: var(--space-x-large) auto var(--space-x-large);
}

pre {
  padding: 18px;
  overflow: scroll;
}

del {
  text-decoration: line-through;
}

figure {
  margin: var(--space-small) auto var(--space-large) auto;
  width: 100%;
  text-align: center;
}

figure a {
  border-bottom: 0;
}

figcaption {
  margin: var(--space-small) 0 var(--space-medium) 0;
  font-style: italic;
  font-weight: normal;
  font-size: var(--type-x-small);
  line-height: 1.3;
}

@media screen and (max-width: 640px) {
  .limiter {
    width: auto;
  }

  .header {
    padding-top: 20px;
  }
}

@media screen and (min-width: 640px) {
  .nu a {
    text-decoration: none;
  }

  .nu a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1024px) {
  .header-wrap {
    border-bottom: 1px solid var(--theme-text);
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  /* .header {
    position: absolute;
    top: 42px;
    right: 50%;
    margin-right: 360px !important;
    letter-spacing: -0.009em;
  } */

  nav {
    padding-top: 2rem;
  }

  /* display nav links inline */
  .header ul li {
    display: inline;
  }

  .header ul li a {
    padding: 0 10px;
    font-family: var(--font-sans);
    font-size: var(--type-small);
  }

  /* in between each link, add a slash, except the last item */
  .header ul li:not(:last-child):after {
    content: "/";
    padding-left: 10px;
  }

  .content h1:first-child {
    margin-top: 0;
  }
}

@media print {
  .no-print {
    display: none;
  }

  .only-print {
    display: block;
  }

  body {
    margin: 0;
  }

  .limiter {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

aside {
  background: var(--color-aside);
  font-size: var(--type-small);
  padding: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--color--aside-faded);
}

aside.warn {
  width: 70%;
  margin: 0 auto;
  background: none;
}

.newsletter-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  .newsletter-grid {
    grid-template-columns: 1fr;
  }
}

aside.newsletter {
  background: var(--color-aside);
  padding: 15px;
  margin: 0 auto;
  margin-top: 8px;
  width: 78%;
  font-size: var(--type-small);
  text-align: center;
}

@media screen and (max-width: 800px) {
  aside.newsletter {
    width: 98%;
  }
}

@media screen and (max-width: 480px) {
  aside.newsletter {
    width: 91%;
  }
}

.bio-project {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  text-align: left;
}

.bio-project-right {
  grid-column: 2;
  grid-row: 1;
}

.bio-project-left {
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 768px) {
  .bio-project {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .bio-project-left,
  .bio-project-right {
    grid-column: auto;
    grid-row: auto;
  }
}

footer {
  padding-top: 50px;
}

footer p {
  font-size: var(--type-x-small);
}

/* Projects */
.projects .limiter {
  max-width: 1200px;
  padding: 0 40px;
}

.project-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.project-title {
  font-family: var(--font-sans);
  font-weight: 700;
}

.book {
  margin: 0 0 1rem 0;
  clear: both;
  position: relative;
  overflow: auto;
}

.book img {
  float: right;
  margin: 0 0 0.5em 1em;
  max-width: 220px;
  border: 1px solid #ccc;
  padding: 3px;
}

.books>div,
.teaching>div {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr min-content;
  margin-bottom: 0.8em;
}

.books>div {
  grid-template-columns: 1fr 0.5fr min-content 70px;
}

.books a,
.teaching a {
  font-weight: 500;
  letter-spacing: -0.015em;
}

.books>div div,
.teaching>div div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books>div div:nth-child(3),
/* .writing > div div:last-child, */
.teaching>div div:last-child {
  padding-right: 0.25em;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.012em;
}

@media screen and (max-width: 640px) {
  .books>div {
    grid-template-columns: 1fr 0.5fr 70px;
  }

  .books>div div:nth-child(3) {
    display: none;
  }
}

.writing {
  margin: 0 auto;
  /*max-width: 640px;*/
}

.writing h2 {
  font-size: var(--type-x-large);
  margin: 1rem 0 1rem 0;
}

.writing .archive-title {
  font-size: var(--type-large);
  font-weight: 700;
  padding-top: 2rem;
}

/*.writing time {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
  float:right;
  font-size: var(--type-x-small);
  font-family: var(--font-mono);
}*/
.writing small {
  font-size: 0.8rem;
  float: right;
}

.writing .teaser {
  max-width: 40rem;
  flex: 1 0 100%;
  margin: .35rem 0 .5rem;
}

.writing .article-filed {
  font-size: var(--type-x-small);
  margin: 0;
}

.writing .article-tags a {
  color: var(--theme-dark-tint);
  text-decoration: none;
}

.writing .article-tags a:hover {
  color: var(--theme-links-hover);
}

.writing img {
  display: block;
  margin: 0 auto;
}

.archive {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* adjust this to change the space distribution */
  gap: 1rem;
  /* adjust this to change the spacing */
}

.archive-entry {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}


.toc {
  margin: 0 2px 40px;
  border: 1px solid var(--color-french-grey);
  background: var(--color-aside);
  border-radius: 0.5rem;
  padding: 0.4em;
}

.toc .details {
  display: inline;
  font-weight: 500;
}

.toc details summary {
  cursor: zoom-in;
  margin-inline-start: 20px;
}

.toc details[open] summary {
  cursor: zoom-out;
}

.toc .inner {
  margin: 0 20px;
  padding: 10px 20px;
}

.blog-nav {
  font-size: var(--type-small);
}

/* Tags */
.categorycloud-item {
  display: inline-block;
  background-color: #f0f0f0;
  /* Set the background color of the rectangle */
  border: 1px solid #ccc;
  /* Set the border color */
  padding: 8px;
  /* Adjust the padding as needed */
  margin-right: 10px;
  /* Add some space between tags */
}

.categorycloud-item span.mono {
  border-left: 1px solid #ccc;
  /* Set the border color for the line separator */
  padding-left: 8px;
  /* Adjust the padding as needed for the line separator */
  margin-left: 8px;
  /* Add some space between the tag and the count */
}

.text-decoration-none {
  text-decoration: none;
  /* Remove the default underline for the link */
}

.writing-body {
  /*max-width: 640px;*/
  margin: 0 auto;
}

/* Masonry */
.masonry-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: masonry;
}

.masonry-grid img {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}

/* Fallback for browsers that don't support CSS Grid masonry */
@supports not (grid-template-rows: masonry) {
  .masonry-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .masonry-grid img {
    flex: 1 1 250px;
    margin-bottom: 1rem;
  }
}

/* Column-based fallback for older browsers */
@supports not (display: grid) {
  .masonry-grid {
    column-count: auto;
    column-width: 250px;
    column-gap: 1rem;
  }

  .masonry-grid img {
    break-inside: avoid;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
  }
}


.post-body summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.post-body details[open] {
  /* padding: 0.5em; */
}

.post-body details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.post-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.post-read-more {
  text-align: right;
}

.post-date {
  color: var(--theme-dark-tint);
}

.post-container {
  display: flex;
  align-items: center;
}

.post-title,
.post-date {
  margin: 0;
}

.meta-date {
  float: right;
}

.post-year {
  padding-top: 2rem;
  text-align: right;
}

.link-post-header {
  border-bottom: 2px solid var(--color--aside-faded);
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;

}

.link-post-body {
  border: 2px solid var(--color--aside-faded);
  padding: 1rem;
  margin-bottom: 2rem;
}

blockquote {
  border-left: 2px solid var(--theme-links);
  padding-left: 2rem;
  margin-left: 0;
}

.pullquote {
  border: none;
  font-size: 1.2em;
  width: 25%;
  font-family: var(--font-serif);
  border-top: 1px solid var(--theme-text);
  border-bottom: 1px solid var(--theme-text);
  float: left;
  padding: 1rem;
  margin: 1rem;
}

.note {
  align-self: center;
  text-align: center;
}

.note::before {
  content: "—/ " attr(aria-label) " /—";
  color: var(--theme-dark-tint);
  text-transform: uppercase;
  font-weight: bold;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--theme-background);
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .sticky {
    position: static;
    top: auto;
    background-color: none;
    z-index: auto;
    padding-bottom: 0;
  }
}

.separator {
  flex-grow: 1;
  height: 1px;
  border: 0;
  border-bottom: 1px dotted var(--theme-text);
  background: var(--theme-text);
  opacity: .25;
  margin: 0 .5rem;
}

.pagination {
  display: flex;
  list-style: none;
  border-radius: 0.25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--theme-text);
  border: 1px solid var(--theme-dark-tint);
}

.homepage .page-link,
.listing .page-link {
  background-color: var(--theme-background);
}

.page-item.disabled .page-link {
  color: var(--theme-text);
  pointer-events: none;
  cursor: auto;
  background-color: var(--theme-background);
  border-color: var(--theme-dark-tint);
}

.page-item.active .page-link {
  z-index: 1;
  color: var(--theme-background);
  background-color: var(--theme-mark);
  /* border-color: var(--theme-light-tint); */
}

.bio-wide {
  margin: 1em 0 1.5em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.bio-wide p {
  font-size: var(--type-x-small);
  margin: 0;
}

p>code {
  font-family: var(--font-mono);
  font-size: var(--type-small);
  background: var(--theme-mark);
  color: var(--theme-text);
}

.notice {
  background-color: var(--color-aside);
  padding: 1em;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;
  width: calc(100% - 2em);
}

.notice>div {
  flex: 1;
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todo {
  display: flex;
}

.todo input {
  margin-right: 5px;
}

.subscription-input {
  display: flex;
}

.subscription-input input {
  border: 1px solid var(--color-base);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4em;
  margin-right: 10px;
}

.subscription-input input[type="submit"] {
  -webkit-appearance: none;
  display: block;
  width: 150px;
  background: var(--theme-links);
  border: 0;
  color: var(--color-aside);
  outline: 0;
  padding: 10px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  margin-right: 0;
}

.subscription-input input[type="submit"]:hover {
  background: var(--theme-links-hover);
  color: var(--color-aside);
  transition: background 0.3s ease-in-out;
}

.metrics_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  text-align: left;
  font-family: var(--font-sans);
  font-size: var(--type-small);
  text-align: center;
}

.metrics-left {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--color-green);
  color: var(--theme-text);
}

.metrics-left p {
  text-align: center;
  color: var(--color-off-white);
}

.metrics_container_item {
  margin: 20px auto;
}

img.metrics__img {
  width: 12%;
}

@media screen and (max-width: 768px) {
  .metrics_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .metrics-left {
    grid-column: auto;
    grid-row: auto;
  }
}

/* Notes */
#footnotes-label {
  padding-top: 180px;
}

.footnotes {
  margin-top: 4em;
  width: 40vw;
  margin-right: -24vw;
  font-size: var(--type-small);
}

@media screen and (max-width: 768px) {
  .footnotes {
    width: 70vw;
  }
}

.footnotes hr {
  background: var(--theme-text);
  border: none;
  clip-path: initial;
  height: 1px;
  overflow: visible;
  position: static;
  width: 20%;
  margin: var(--space-x-large) 0;
}

.footnotes li {
  margin: 0 0 12px;
}

.footnotes ol {
  counter-reset: cupcake;
  padding-left: 32px;
  list-style: none;
}

.footnotes ol li {
  counter-increment: cupcake;
}

.footnotes ol li:before {
  content: counters(cupcake, ".") " ";
  color: var(--theme-links);
  font-weight: bold;
}

.footnote-ref {
  text-decoration: none;
  color: var(--theme-links);
  font-weight: bold;
}

.footnote-backref {
  display: none;
}

/* prevent the footnote p from breaking the line with the footnote number */
.footnotes p {
  display: inline;
}

.floating-footnotes {
  width: 18em;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 78%;
}

.floating-footnotes hr {
  display: none;
}

.floating-footnotes li[role="doc-endnote"] p:last-child {
  margin-bottom: 0;
}

.divider {
  display: flex;
  padding-top: var(--space-xx-large);
  padding-bottom: var(--space-xx-large);

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {

  &:before,
  &:after {
    background: var(--theme-text);
  }
}

/* Syllabus specific */
article.syllabus header {
  /* background: rgb(243, 243, 243); */
  border: 1.25px solid var(--color-yellow);
  padding: 0.2rem 1rem;
}

article.syllabus hr {
  border: 0;
  padding: 0;
  clear: both;
  display: block;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(to right,
      var(--color-yellow2) 0%,
      var(--color-purple) 100%);
}

article.syllabus h1 {
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

/* but not the title */
article.syllabus h1.syllabus-title {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

article.syllabus h3 {
  margin-top: 1.5rem;
}

article.syllabus nav a {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

article.syllabus nav#TableOfContents {
  margin: 2rem 0 1rem 0;
}

article.syllabus nav#TableOfContents ul li ul {
  display: none;
}

article.syllabus nav#TableOfContents ul {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  padding: 0;
  margin-top: 4px;
}

article.syllabus nav#TableOfContents ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.badge-due {
  background: var(--theme-mark);
  color: var(--theme-text);
  padding: 0.1rem 0.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.badge-warn {
  background: var(--theme-mark);
  color: var(--theme-text);
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .projects .limiter {
    padding: 0 20px;
  }

  .project-box {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .project-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .project-box {
    grid-template-columns: repeat(1, 1fr);
  }
}

a.project {
  border: none;
  text-decoration: none;
  color: var(--theme-text);
}

a.project:hover {
  color: var(--theme-text);
  text-decoration-color: var(--theme-links);
}

a.project img {
  display: block;
  margin-bottom: 10px;
  border-radius: 0;
  width: 100%;
  border-radius: 0.8rem;
  background: var(--color-white);
  --jah-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--jah-ring-offset-shadow, 0 0 transparent),
    var(--jah-ring-shadow, 0 0 transparent), var(--jah-shadow);
}

a.project img:hover {
  --jah-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--jah-ring-offset-shadow, 0 0 transparent),
    var(--jah-ring-shadow, 0 0 transparent), var(--jah-shadow);
}

.user-toggle {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.5rem;
  justify-content: flex-end;
  line-height: 1;
  margin-top: -0.25rem;
}

.sr {
  display: none;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.modes-list[class] {
  display: inline-flex;
  gap: 1rem;
  list-style: none;
  padding: 0.5rem 0.75rem;
}

.modes-list li {
  position: relative;
}

input[name="theme-chooser"] {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.mode-list label {
  transition: color 0.2s;
}

.modes-list svg {
  height: 1rem;
  width: 1rem;
}

#webmentions {
  margin: 0;
  position: relative;
  z-index: 100;
  line-height: 1.2em;
}

#webmentions .comments {
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 80%;
}

#webmentions h2 {
  font-size: medium;
  margin: 0;
  padding: 2px;
  background: #ccc;
}

#webmentions .reacts img {
  margin: 3px -1ex 1px 0;
}

#webmentions ul {
  list-style-type: none;
  margin: 0;
  padding: 4px;
}

#webmentions li {
  text-indent: -1em;
  padding-left: 1em;
}

#webmentions a.reaction {
  position: relative;
  text-decoration: none;
  text-shadow: 0px 0px 3px white;
  margin-right: 0;
  letter-spacing: -1ex;
  margin-right: 1ex;
}

#webmentions a.reaction img {
  max-height: 1.3em;
  margin-right: -1ex;
  border-radius: 25%;
}

#webmentions a.reaction sub {
  font-size: 50%;
}

#webmentions .comments li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#webmentions .comments li .text {
  color: #555;
  font-style: italic;
  text-decoration: none;
}

#webmentions .comments li .name {
  color: #111;
}

table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}

table thead th,
table tfoot th {
  color: #777;
  background: rgba(0, 0, 0, 0.1);
}

table caption {
  padding: 0.5em;
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}

/* Zebra Table Style */
[data-table-theme*="zebra"] tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}

[data-table-theme*="zebra"][data-table-theme*="dark"] tbody tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.05);
}

/* Dark Style */
[data-table-theme*="dark"] {
  color: #ddd;
  background: #333;
  font-size: 12pt;
  border-collapse: collapse;
}

[data-table-theme*="dark"] thead th,
[data-table-theme*="dark"] tfoot th {
  color: #aaa;
  background: rgba(0255, 255, 255, 0.15);
}

[data-table-theme*="dark"] caption {
  padding: 0.5em;
}

[data-table-theme*="dark"] th,
[data-table-theme*="dark"] td {
  padding: 0.5em;
  border: 1px solid grey;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --site-theme: "dark";
    --theme-background: var(--color-grey);
    --theme-text: var(--color-salt);
    --color-aside: var(--theme-background);
    --theme-links: var(--color-yellow-darker);
    --theme-links-hover: var(--color-orange);
    --theme-dark-tint: var(--color-yellow-darker);
    --theme-light-tint: var(--color-orange);
    --theme-mark: var(--color-blue);
  }
}

[data-site-theme="dark"] {
  --theme-background: var(--color-grey);
  --theme-text: var(--color-salt);
  --color-aside: var(--theme-background);
  --theme-links: var(--color-yellow-darker);
  --theme-links-hover: var(--color-orange);
  --theme-dark-tint: var(--color-yellow-darker);
  --theme-light-tint: var(--color-orange);
  --theme-mark: var(--color-blue);
}

/* Merry Christmas */
.snowflake {
  position: absolute;
  text-align: center;
  z-index: 9999;
  top: -100px;
  width: 1em;
  height: 1em;
  color: white;
  font-size: 16px;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
  /* We use the following properties to apply the fade and drop animations to each snowflake.
     Each of these properties takes two values. These values respectively match a setting
     for fade and drop.
  */
  -webkit-animation-iteration-count: infinite, 20;
  -webkit-animation-direction: normal, normal;
  -webkit-animation-timing-function: linear, ease-in;
  animation-iteration-count: infinite, 20;
  animation-direction: normal, normal;
  animation-timing-function: linear, ease-in;
}

.snowflake span {
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  /* We use the following properties to adjust the clockwiseSpin or counterclockwiseSpin
     animations on each snowflake.
     The createASnowflake function determines whether a flake has the 
     clockwiseSpin or counterclockwiseSpin animation.
  */
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-transform-origin: 50% -100%;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% -100%;
}

.snowflake.tiny {
  font-size: 0.5em;
}

.snowflake.small {
  font-size: 1em;
}

.snowflake.medium {
  font-size: 2em;
}

.snowflake.large {
  font-size: 3em;
}

.snowflake.massive {
  font-size: 7em;
}

/* Hides a snowflake towards the very end of the animation */
@-webkit-keyframes fade {

  /* Show a snowflake while into or below 85 percent of the animation and hide it, otherwise */
  0% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Makes a snowflake fall from -50px to 650px pixels in the y-axis */
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translate(0px, -50px);
    transform: translate(0, -50px);
  }

  100% {
    -webkit-transform: translate(0px, 650px);
    transform: translate(0, 650px);
  }
}

/* Rotates a snowflake from -50 to 50 degrees in 2D space */
@-webkit-keyframes clockwiseSpin {
  0% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }

  100% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}

/* Rotates it from 50 to -50 degrees in 2D space */
@-webkit-keyframes counterclockwiseSpin {
  0% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  100% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
}
