<div class="blog-comments">
      <span class="reading-time">{{ .ReadingTime }} min read &middot; {{ .WordCount }} words &middot; Published <a href='{{ .Permalink }}' class='u-url u-uid permalink'><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "January 2, 2006" }}</time></a> &middot; <a href="/feed.xml">Subscribe</a> &middot; <a href="https://twitter.com/intent/tweet?text=I%20enjoyed%20this%20post:%20&quot;{{ .Title }}&quot;&amp;url={{ .Permalink }}&amp;via=jaheppler" target="_blank">Share</a></span>
</div>
