<input id="toggle" type="checkbox"></input>

<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>

<div class="nav">
  <div class="nav-wrapper">
    <nav class="main-nav" role="navigation" itemtype="https://schema.org/SiteNavigationElement" itemscope>
      <ul id="menu" class="menu">
          <li class="menu-item"><a href="/" class="site-title">{{ .Site.Title }}</a></li>
          <li class="menu-item"><a class="menu-item-link link" href="/blog/"> Blog</a></li>
            <li class="menu-item"><a class="menu-item-link link" href="/publications/"> Publications</a></li>
            <li class="menu-item"><a class="menu-item-link link" href="/research/"> Work</a></li>
            <li class="menu-item"><a class="menu-item-link link" href="/courses/"> Teaching</a></li>
            <li class="menu-item"><a class="menu-item-link link" href="/books/"> Bookshelf</a></li>
            <li class="menu-item"><a class="menu-item-link link" href="/about/"> About</a></li>
      </ul>
    </nav>
  </div>
</div>
