{{ partial "head.html" . }}

<div id='home'>
{{ .Content }}

<aside class="newsletter">
You can also subscribe to "<a href="https://jasonheppler.substack.com">Breve</a>," an occasional newsletter on digital history, design, creativity, and human knowledge.
</aside>

<h3><i class="fas fa-book"></i> Scholarship</h3>

<p>You can find much more <a href="/research/">on my scholarship page</a>. Here are a few things I'm currently working on:</p>

<ul>
  <li>Rebecca Wingo, Paul Schadewald, and I co-edited <em><a href="https://ucincinnatipress.manifoldapp.org/projects/digital-community-engagement">Digital Community Engagement: Partnering Communities with the Academy</a></em> (University of Cincinnati Press, 2020).</li>
  <li>I am currently completing a book tentatively titled <em>Suburban by Nature: Silicon Valley and the Transformation of American Environmental Politics</em> for the University of Oklahoma Press.</li>
</ul>

<h3><i class="fas fa-chalkboard"></i> Teaching</h3>

<p>I teach classes on data science, design, visualization, and digital history. You can find my most recent syllabi and workshops on <a href="/teaching/">my teaching page</a>.</p>

<h3><i class="fas fa-laptop"></i> Get in touch</h3>

<p>If you're looking to get in touch, take note:</p>

<ul>
<li>You can email me by <a href="/about/">finding my contact information here</a>.</li>
<li>You can <a href="/office-hours/">make an appointment with me</a> for office hours.</li>
<li>Occasionally, you can also find me on <a href="/social-media/">social media</a>.</li>
</ul>

<hr/>

<p class="small">Jason lives and works on lands represented by Native Nations whose sovereignty, governance, and treaty lands existed long before the state of Nebraska. These Nations include the Omaha, Ponca, Santee, Ho-Chunk or Winnebago, Lakota, Pawnee, Cheyenne, Arapahoe, Otoe-Missouria, Ioway, Kaw, Sac and Fox or Mesquakie, Kickapoo, and Delaware Nations.</p>

<hr/>

</div>

{{ partial "foot.html" . }}

