{{ partial "head.html" . }}

{{ partial "blog-nav" .}}

<h1>{{ .Title }}</h1>

{{ .Content }}


{{ range (where .Site.RegularPages "Section" "blog").GroupByDate "2006" }}
<h2>{{ .Key }}</h2>
<table id='blog-archive' class='date-list-table'>
    <colgroup>
      <col style="width:6rem;">
      <col>
    </colgroup>  
    <tbody>
    {{ range .Pages }}
    <tr>
      <td><time class="date" datetime="2006-01-02">{{ .Date.Format "Jan 2" }}</time></td>
      <td><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}

{{ partial "foot.html" . }}
