{{ partial "head.html" . }}

<div class="pad2y limiter content">
  <div class="body">
    <h1>{{ .Title }}</h1>

    {{ .Content }}

    <div class="writing">
      {{ range (where .Site.RegularPages "Section" "blog").GroupByDate "2006" }}
      <h2 class="sticky">{{ .Key }}</h2>
      <div class="archive">
        {{ range .Pages }}
        <time>{{ .Date.Format "2 January" }}</time>
        <div>
          <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>

  {{ partial "foot.html" . }}
</div>
