<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="keywords" lang="us=en" content="jason heppler, jason, heppler, design, digital humanities, digital history, tools, visualization, stanford, nebraska, spatial history"/>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="description" content="Jason Heppler offical website. Data Visualization, Maps, Networks, Digital Humanities."/>
  <meta name="author" content="Jason A. Heppler"/>
  <meta name="copyright" content="&copy; Copyright 2008 to Present"/>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta property="twitter:account_id" content="16240799"/>
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="x-dns-prefetch-control" content="off">
  <link rel="canonical" href="https://jasonheppler.org/" />

  <!-- RDFa Metadata (in DublinCore) -->
  <meta property="dc:title" content="" />
  <meta property="dc:creator" content="Jason A. Heppler" />
  <meta property="dc:date" content="{{ site.time }}" />
  <meta property="dc:format" content="text/html" />
  <meta property="dc:language" content="en" />
  <meta property="dc:identifier" content="/" />
  <meta property="dc:rights" content="CC BY-NC-SA 3.0" />
  <meta property="dc:source" content="Jason Heppler weblog" />
  <meta property="dc:subject" content="History" />
  <meta property="dc:type" content="website" />

  <!-- RDFa Metadata (in OpenGraph) -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.tagline }}{% endif %}" />
  <meta property="og:author" content="https://jasonheppler.org" />
  <meta property="og:site_name" content="Jason Heppler weblog" />
  <meta property="og:url" content="/" />
  <meta property="og:type" content="website" />

  <!-- Google Scholar Metadata -->
  <meta name="citation_author" content="Jason A. Heppler"/>
  <meta name="citation_date" content="{{ site.time }}"/>
  <meta name="citation_title" content=""/>
  <meta name="citation_journal_title" content="Jason Heppler weblog"/>

  <!-- Twitter cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jaheppler">
  <meta name="twitter:creator" content="@jaheppler">
  <meta name="twitter:url" content="https://jasonheppler.org">
  <meta name="twitter:title" content="History, Technology, and Design">
  <meta name="twitter:description" content="A blog on history and technology by Jason A. Heppler.">

  <!-- micro.blog -->
  <link href="https://micro.blog/jaheppler" rel="me" />

  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/stylesheets/style.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/dgm8yuv.css">

  <!-- Icons -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="/assets/stylesheets/academicons.min.css"/>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="/public/touchicon.png">
  <link rel="icon" href="/public/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="/public/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#D83434">
  <meta name="msapplication-TileImage" content="/public/tileicon.png">

  <!-- RSS - xml and json -->
  <link rel="alternate" title="{{ site.title }}" type="application/rss+xml" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" title="{{ site.title }}" type="application/json" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <script type="application/ld+json">
  { "@context": "http://schema.org",
    "@type": "CreativeWork",

    "author": "Jason A. Heppler" }
  </script>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//jasonheppler.org/analytics/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>
