/* Mixins and functions */
.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.35em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.2);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s; }
  .bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
    outline: none;
    background-color: rgba(110, 110, 110, 0.5); }
  .bigfoot-footnote__button:active {
    background-color: rgba(110, 110, 110, 0.5); }
  .bigfoot-footnote__button.is-active {
    background-color: #6e6e6e;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
  .bigfoot-footnote__button:after {
    content: '';
    display: table;
    clear: both; }

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-right: 0.25em;
  float: left; }
  .bigfoot-footnote__button__circle:last-child {
    margin-right: 0; }

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0; }

@media not print {
  .footnote-print-only {
    display: none !important; } }

@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important; } }

.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 90%;
  margin: 1.9692388156em 0;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: scale(0.1) translateZ(0);
          transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0; }
  .bigfoot-footnote.is-positioned-top {
    top: auto;
    bottom: 0; }
  .bigfoot-footnote.is-active {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
    opacity: 0.97; }
  .bigfoot-footnote.is-bottom-fixed {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    width: 100%;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    border-width: 1px 0 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
    .bigfoot-footnote.is-bottom-fixed.is-active {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
      margin: 0 0 0 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      max-width: 100%; }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
      border-radius: 0; }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
      display: none; }
  .bigfoot-footnote.is-scrollable:after {
    content: '';
    position: absolute;
    bottom: 0.3375em;
    left: 0.3375em;
    z-index: 14;
    display: block;
    height: 0.78125em;
    width: 0.625em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-size: cover;
    opacity: 0.1;
    transition-properties: opacity;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0; }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
    top: -1px;
    height: 1.1em;
    border-radius: 0.5em 0.5em 0 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fafafa), to(rgba(250, 250, 250, 0)));
    background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    bottom: -1px;
    height: 1.2em;
    border-radius: 0 0 0.5em 0.5em;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #fafafa), to(rgba(250, 250, 250, 0)));
    background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }
  .bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
    display: none; }
  .bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
    opacity: 0;
    -webkit-transition-delay: 0;
            transition-delay: 0; }

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  line-height: 0; }

.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: normal; }
  .bigfoot-footnote__content img {
    max-width: 100%; }
  .bigfoot-footnote__content *:last-child {
    margin-bottom: 0 !important; }
  .bigfoot-footnote__content *:first-child {
    margin-top: 0 !important; }

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0; }
  .is-positioned-bottom .bigfoot-footnote__tooltip {
    top: -0.65em; }
  .is-positioned-top .bigfoot-footnote__tooltip {
    bottom: -0.65em; }

.bigfoot-footnote__button {
  position: relative;
  height: 0.95em;
  width: 1.5em;
  border-radius: 0.475em; }
  .bigfoot-footnote__button:after {
    content: attr(data-footnote-number);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    font-size: 0.57em;
    font-weight: bold;
    color: rgba(110, 110, 110, 0.5);
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease; }
  .bigfoot-footnote__button:hover:after, .bigfoot-footnote__button.is-active:after {
    color: white; }

.bigfoot-footnote__button__circle {
  display: none; }

/* ==========================================================================
   Clearfix Mixin
   ========================================================================== */
/* ==========================================================================
   Fluid Type
   as seen on https://madebymike.com.au/writing/fluid-type-calc-examples/
   ========================================================================== */
/* Variables */
/* ==========================================================================
   Variables
   ========================================================================== */
/* Breakpoint widths */
/* Fluid type */
/* Calculate Modular Scale */
/* small */
/* large */
/* Heading 1 */
/* Heading 2 */
/* Heading 3 */
/* Heading 4 */
/* Heading 5 */
/* Heading 6 */
/* Font weights */
/* Base font family */
/* Other font families */
/* Colors */
/* Syntax highlighting (base16) colors */
/* Max-width of the main content */
/* Width of the sidebar */
/* Background color of the sidebar */
/* Border radius */
/* Site image */
/* Core CSS */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  /* 1 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  line-height: 1.55; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove margin padding.
 *
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
dl,
table,
address {
  margin-top: 0;
  margin-bottom: 1.5rem; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/**
 * Adjust heading line-height
 *
 */
h1,
h2,
h3,
h4 {
  line-height: 1.2; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Reset the margins.
 */
figure {
  margin: 1rem 0 1.5rem; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  margin: 2em 0;
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  border: 1px solid tint(#393e46, 80%); }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Add scrollbars to wide code blocks.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  overflow-x: auto;
  /* 3 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted currentColor; }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari. */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 14px; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Change the margin and padding and add a line rule on the left-side in all
 * browsers (opinionated).
 */
blockquote {
  margin-right: 0;
  margin-left: 0;
  padding: 0 1rem; }
  blockquote *:last-child {
    margin-bottom: 0; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/**
 * Remove margin
 */
ul,
ol {
  margin-top: 0; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* part 1: Set a maximum relative to the parent*/
  width: auto\9;
  /* IE7-8 need help adjusting responsive images*/
  height: auto;
  /* part 2: Scale the height according to the width, otherwise you get stretching*/
  border-style: none;
  /* Remove the border on images inside links in IE 10-.*/
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
  font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
  /* 2 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  font: inherit;
  /* 2 */
  -webkit-appearance: button;
  /* 1 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base elements
   ========================================================================== */
html {
  margin: 80px auto; }
  html {
    font-size: 15px; }
    @media screen and (min-width: 320px) {
      html {
        font-size: calc( 15px + 9 * ((100vw - 320px) / 960)); } }
    @media screen and (min-width: 1280px) {
      html {
        font-size: 24px; } }

body {
  background: #fff;
  color: #333333;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

blockquote {
  position: relative;
  margin: 0 0 1.5em;
  padding: 0.75em 1.5em 0.75em;
  font-size: 1rem;
  color: #3b3d40; }
  blockquote.huge {
    max-width: 130%;
    border: none;
    color: #678;
    padding: 0;
    font-size: 1.7rem;
    margin: 1.7em -15% 1.7em; }
  blockquote.pull-right {
    margin: 0.2rem -20% 0.4rem 1.5rem;
    float: right;
    line-height: 1.5;
    padding: 0;
    width: 40%;
    border: none;
    color: #678;
    font-size: 1.15rem; }
  blockquote .author {
    font-size: 1.2rem; }
  blockquote::before {
    position: absolute;
    content: " ";
    left: 0;
    width: 4px;
    background: #cfd7dd;
    top: .5em;
    border-radius: 6px;
    height: calc(100% - 1em); }

@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem; } }

code,
kbd,
samp,
pre {
  font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; }

kbd {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
  display: inline-block;
  margin: 0 0.125em;
  padding: 0.125em 0.5em;
  text-shadow: 0 1px 0 #fff; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 16.8px;
  line-height: 1.6em; }
  p.size-2x {
    font-size: 28px;
    font-weight: 100; }
  p.home-intro {
    font-size: 33.6px;
    width: 34rem;
    font-weight: 100; }
  p.emphasis {
    font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif; }

@media screen and (max-width: 480px) {
  p {
    font-size: 14px; }
    p.size-2x {
      font-size: 16.8px; }
    p.home-intro {
      font-size: 19.6px;
      width: 18rem; } }

ul, ul li {
  font-size: 16.8px; }

@media screen and (max-width: 480px) {
  ul, ul li {
    font-size: 14px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  /* enable common ligatures and kerning */ }

h1 {
  font-size: 18.1462008437px; }
  @media screen and (min-width: 320px) {
    h1 {
      font-size: calc( 18.1462008437px + 21.3493378607 * ((100vw - 320px) / 960)); } }
  @media screen and (min-width: 1280px) {
    h1 {
      font-size: 39.4955387044px; } }

h2 {
  font-weight: 500; }
  h2 {
    font-size: 17.006748682px; }
    @media screen and (min-width: 320px) {
      h2 {
        font-size: calc( 17.006748682px + 13.468204022 * ((100vw - 320px) / 960)); } }
    @media screen and (min-width: 1280px) {
      h2 {
        font-size: 30.474952704px; } }

h3 {
  font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-weight: 500;
  margin-bottom: .5rem; }
  h3 {
    font-size: 15.938846px; }
    @media screen and (min-width: 320px) {
      h3 {
        font-size: calc( 15.938846px + 7.575778 * ((100vw - 320px) / 960)); } }
    @media screen and (min-width: 1280px) {
      h3 {
        font-size: 23.514624px; } }

h4 {
  font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  margin-bottom: .5rem; }
  h4 {
    font-size: 14.938px; }
    @media screen and (min-width: 320px) {
      h4 {
        font-size: calc( 14.938px + 3.206 * ((100vw - 320px) / 960)); } }
    @media screen and (min-width: 1280px) {
      h4 {
        font-size: 18.144px; } }

h5 {
  font-size: 14px; }
  @media screen and (min-width: 320px) {
    h5 {
      font-size: calc( 14px + 0 * ((100vw - 320px) / 960)); } }
  @media screen and (min-width: 1280px) {
    h5 {
      font-size: 14px; } }

h6 {
  font-size: 13.1208997188px; }
  @media screen and (min-width: 320px) {
    h6 {
      font-size: calc( 13.1208997188px + -2.318430583 * ((100vw - 320px) / 960)); } }
  @media screen and (min-width: 1280px) {
    h6 {
      font-size: 10.8024691358px; } }

dt {
  font-weight: bold; }
  dt:not(:first-child) {
    margin-top: 1rem; }

dd {
  margin: 0; }

pre {
  font-size: 12px; }
  @media screen and (min-width: 320px) {
    pre {
      font-size: calc( 12px + 4 * ((100vw - 320px) / 960)); } }
  @media screen and (min-width: 1280px) {
    pre {
      font-size: 16px; } }

figure {
  margin-left: 0;
  margin-right: 0; }
  figure > p {
    margin-bottom: 0;
    width: 100%; }
  figure > img {
    width: 100%; }

figcaption {
  font-size: 80%;
  margin: 0.5rem 0; }

a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #aaaaaa;
  -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
  transition: border .15s ease-in-out, color .15s ease-in-out; }
  a:hover {
    color: #888888; }
  a:visited {
    color: #333333;
    outline: none !important; }

img {
  /* lazysizes plugin */ }
  img[data-sizes="auto"] {
    display: block;
    width: 100%; }

li > img {
  margin: 1rem 0; }

/* Main */
.container {
  max-width: 970px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto; }

.writing {
  padding-bottom: 5px; }

.writing > div {
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  display: grid;
  grid-column-gap: 5px;
  padding-top: 5px;
  font-size: 16.8px; }

.writing > div div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.writing > div div:last-child {
  padding-right: 0.25em;
  color: #888;
  font-size: 12.6px;
  padding-top: 1px;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.012em; }

/* Custom Home setup */
.home {
  background: #1352a2;
  color: white; }
  .home.navigation {
    margin: 0;
    padding: 0;
    padding-bottom: 2em; }
  .home.sidebar-nav {
    padding-left: 0;
    list-style: none; }
  .home.sidebar-nav-item {
    display: inline;
    font-size: 15.4px;
    margin-right: 20px;
    font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif; }
  .home li#nav-title a {
    color: white;
    text-decoration: none;
    border: none; }
  .home li.sidebar-nav-item a {
    border: none; }
  .home a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
    transition: border .15s ease-in-out, color .15s ease-in-out; }
    .home a:hover {
      color: rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .home a:visited {
      color: white;
      outline: none !important; }

.pad2y {
  padding-top: 20px;
  padding-bottom: 20px; }

.limiter {
  max-width: 1200px;
  padding: 0 40px; }

hr {
  height: 3px;
  border-radius: 3px;
  background: #e8e8e8;
  border: none;
  width: 8rem;
  margin: 2rem auto 2rem;
  display: block; }

.bigfoot-footnote__content p {
  font-size: 11.2px;
  font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif; }

/* Search Form */
.searchform {
  background: #e5e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 29px;
  opacity: 0.5;
  padding: 15px;
  width: auto; }
  .searchform input {
    -webkit-box-shadow: 0;
            box-shadow: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #cbcece;
    border-width: 0 1px 1px 0;
    line-height: 29px;
    outline: 0;
    padding: 5px;
    width: 98.9%; }
  .searchform .searchsubmit {
    display: none; }

/* Projects */
.projects .limiter {
  max-width: 1200px;
  padding: 0 40px; }

.project-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }

@media screen and (max-width: 1024px) {
  .projects .limiter {
    padding: 0 20px; }
  .project-box {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; } }

@media screen and (max-width: 800px) {
  .project-box {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 480px) {
  .project-box {
    grid-template-columns: repeat(1, 1fr); } }

a.project {
  border: none;
  text-decoration: none;
  color: #666; }
  a.project:hover {
    color: #000; }
  a.project img {
    display: block;
    margin-bottom: 10px; }

/* Posts */
.list-posts {
  list-style-type: none;
  padding: 0;
  font-weight: 300; }

.list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 300; }
  .list-items li {
    display: block; }

.external-url {
  font-weight: 300; }

.text_small {
  color: #777;
  display: inline;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  width: 15%;
  padding-right: 5%;
  text-align: left; }

p.aside {
  font-size: small;
  background: #fffceb;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #fbf1a9;
  border-radius: 2px; }
  p.aside.cv {
    text-align: right;
    background: none;
    font-size: .7em; }

/* Archives */
.home-archives ul {
  margin: 0;
  padding: 0; }
  .home-archives ul li {
    list-style: none;
    font-size: 13px;
    margin-bottom: 15px; }

.home-archives h3 {
  color: #cbcece; }

.home-archives a {
  color: #323232;
  border: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; }

time, .entry-date {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  color: #7e7e7e; }

.home-archives .cat {
  color: #cd3700; }

.home-archives a[rel*="category"] {
  color: rgba(205, 55, 0, 0.75);
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 5px;
  text-transform: uppercase;
  border: none; }

.home-archives .title {
  margin-top: -7px;
  font-size: 18px;
  font-weight: 700; }

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5; }

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  width: auto; }
  img.avatar {
    background-size: 100%;
    display: block;
    height: 190px;
    width: 190px;
    overflow: hidden;
    margin-right: 15px; }

@media screen and (max-width: 480px) {
  img.avatar {
    display: none; } }

a img {
  border-width: 0; }

figcaption {
  padding-top: 10px;
  clear: both;
  font-size: 9.8px;
  font-style: italic;
  line-height: 1.3;
  color: #3c3c3c;
  text-align: center; }

figure {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  *zoom: 1; }
  figure:before {
    display: table;
    line-height: 0;
    content: ""; }
  figure:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both; }
  figure img {
    margin-bottom: 10px;
    width: 65%;
    height: auto; }
  figure a img:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-animation: pop .3s linear;
    animation: pop .3s linear; }

@media only screen and (min-width: 62.5em) {
  figure.half img {
    float: left;
    width: 290px;
    margin-right: 10px; }
  figure.half figcaption {
    clear: left; } }

@media only screen and (min-width: 62.5em) {
  figure.third img {
    float: left;
    width: 180px;
    margin-right: 10px; }
  figure.third figcaption {
    clear: left; } }

.about-intro figure {
  display: inline-block; }

.about-intro img {
  height: auto;
  width: 70%; }

.about-intro figcaption {
  color: #999;
  display: block;
  font-size: 9.8px;
  text-align: left; }

.image-credit {
  color: #999;
  display: block;
  font-size: .5em; }

/* Components */
footer {
  margin-top: 100px; }
  footer p {
    font-size: 12.6px; }

@font-face {
  font-family: "ATF-Spark";
  src: url("/assets/fonts/Sparks-Bar-Medium.eot"), url("/assets/fonts/Sparks-Bar-Medium.woff2") format("woff2"), url("/assets/fonts/Sparks-Bar-Medium.woff") format("woff"), url("/assets/fonts/Sparks-Dotline-Thin.eot"), url("/assets/fonts/Sparks-Dotline-Thin.woff2") format("woff2"), url("/assets/fonts/Sparks-Dotline-Thin.woff") format("woff"); }

span.spark, span.sparkline {
  font-family: "ATF-Spark";
  color: #1d78bd;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "calt";
  font-feature-settings: "calt"; }

ul.navigation {
  margin: 0;
  padding: 0;
  padding-bottom: 2em; }

.sidebar-nav {
  padding-left: 0;
  list-style: none; }

.sidebar-nav-item {
  display: inline;
  font-size: 15.4px;
  margin-right: 20px;
  font-family: "europa", -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif; }

li#nav-title a {
  color: #333333;
  text-decoration: none;
  border: none; }

li.sidebar-nav-item a {
  border: none; }

.sidebar-nav-item:last-child:after {
  content: ""; }

a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
  text-decoration: underline; }

.sidebar-nav-item.active {
  font-weight: bold; }

/* ==========================================================================
   Syntax highlighting
   ========================================================================== */
div.highlighter-rouge,
figure.highlight {
  background: #fafafa;
  color: #586e75;
  font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  line-height: 1.8;
  margin-bottom: 1em;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 1em 5vw;
  position: relative; }
  @media (min-width: 1024px) {
    div.highlighter-rouge,
    figure.highlight {
      margin-left: 0;
      margin-right: 0;
      padding-left: 1em;
      padding-right: 1em; } }
  div.highlighter-rouge > pre,
  div.highlighter-rouge pre.highlight,
  figure.highlight > pre,
  figure.highlight pre.highlight {
    margin: 0; }

.highlight table {
  border: 0;
  font-size: 1em;
  margin-bottom: 0; }
  .highlight table td {
    border: 0;
    padding: 0;
    width: calc(100% - 1em);
    /* line numbers*/
    /* code */ }
    .highlight table td.gutter {
      border-right: 1px solid #839496;
      color: #839496;
      padding-right: 1em;
      text-align: right;
      width: 1em; }
    .highlight table td.code {
      padding-left: 1em; }
  .highlight table pre {
    margin: 0; }

.highlight pre {
  width: 100%; }

.highlight .hll {
  background-color: #eee8d5; }

.highlight .c {
  /* Comment */
  color: #839496; }

.highlight .err {
  /* Error */
  color: #dc322f; }

.highlight .k {
  /* Keyword */
  color: #6c71c4; }

.highlight .l {
  /* Literal */
  color: #cb4b16; }

.highlight .n {
  /* Name */
  color: #586e75; }

.highlight .o {
  /* Operator */
  color: #2aa198; }

.highlight .p {
  /* Punctuation */
  color: #586e75; }

.highlight .cm {
  /* Comment.Multiline */
  color: #839496; }

.highlight .cp {
  /* Comment.Preproc */
  color: #839496; }

.highlight .c1 {
  /* Comment.Single */
  color: #839496; }

.highlight .cs {
  /* Comment.Special */
  color: #839496; }

.highlight .gd {
  /* Generic.Deleted */
  color: #dc322f; }

.highlight .ge {
  /* Generic.Emph */
  font-style: italic; }

.highlight .gh {
  /* Generic.Heading */
  color: #586e75;
  font-weight: bold; }

.highlight .gi {
  /* Generic.Inserted */
  color: #859900; }

.highlight .gp {
  /* Generic.Prompt */
  color: #839496;
  font-weight: bold; }

.highlight .gs {
  /* Generic.Strong */
  font-weight: bold; }

.highlight .gu {
  /* Generic.Subheading */
  color: #2aa198;
  font-weight: bold; }

.highlight .kc {
  /* Keyword.Constant */
  color: #6c71c4; }

.highlight .kd {
  /* Keyword.Declaration */
  color: #6c71c4; }

.highlight .kn {
  /* Keyword.Namespace */
  color: #2aa198; }

.highlight .kp {
  /* Keyword.Pseudo */
  color: #6c71c4; }

.highlight .kr {
  /* Keyword.Reserved */
  color: #6c71c4; }

.highlight .kt {
  /* Keyword.Type */
  color: #b58900; }

.highlight .ld {
  /* Literal.Date */
  color: #859900; }

.highlight .m {
  /* Literal.Number */
  color: #cb4b16; }

.highlight .s {
  /* Literal.String */
  color: #859900; }

.highlight .na {
  /* Name.Attribute */
  color: #268bd2; }

.highlight .nb {
  /* Name.Builtin */
  color: #586e75; }

.highlight .nc {
  /* Name.Class */
  color: #b58900; }

.highlight .no {
  /* Name.Constant */
  color: #dc322f; }

.highlight .nd {
  /* Name.Decorator */
  color: #2aa198; }

.highlight .ni {
  /* Name.Entity */
  color: #586e75; }

.highlight .ne {
  /* Name.Exception */
  color: #dc322f; }

.highlight .nf {
  /* Name.Function */
  color: #268bd2; }

.highlight .nl {
  /* Name.Label */
  color: #586e75; }

.highlight .nn {
  /* Name.Namespace */
  color: #b58900; }

.highlight .nx {
  /* Name.Other */
  color: #268bd2; }

.highlight .py {
  /* Name.Property */
  color: #586e75; }

.highlight .nt {
  /* Name.Tag */
  color: #2aa198; }

.highlight .nv {
  /* Name.Variable */
  color: #dc322f; }

.highlight .ow {
  /* Operator.Word */
  color: #2aa198; }

.highlight .w {
  /* Text.Whitespace */
  color: #586e75; }

.highlight .mf {
  /* Literal.Number.Float */
  color: #cb4b16; }

.highlight .mh {
  /* Literal.Number.Hex */
  color: #cb4b16; }

.highlight .mi {
  /* Literal.Number.Integer */
  color: #cb4b16; }

.highlight .mo {
  /* Literal.Number.Oct */
  color: #cb4b16; }

.highlight .sb {
  /* Literal.String.Backtick */
  color: #859900; }

.highlight .sc {
  /* Literal.String.Char */
  color: #586e75; }

.highlight .sd {
  /* Literal.String.Doc */
  color: #839496; }

.highlight .s2 {
  /* Literal.String.Double */
  color: #859900; }

.highlight .se {
  /* Literal.String.Escape */
  color: #cb4b16; }

.highlight .sh {
  /* Literal.String.Heredoc */
  color: #859900; }

.highlight .si {
  /* Literal.String.Interpol */
  color: #cb4b16; }

.highlight .sx {
  /* Literal.String.Other */
  color: #859900; }

.highlight .sr {
  /* Literal.String.Regex */
  color: #859900; }

.highlight .s1 {
  /* Literal.String.Single */
  color: #859900; }

.highlight .ss {
  /* Literal.String.Symbol */
  color: #859900; }

.highlight .bp {
  /* Name.Builtin.Pseudo */
  color: #586e75; }

.highlight .vc {
  /* Name.Variable.Class */
  color: #dc322f; }

.highlight .vg {
  /* Name.Variable.Global */
  color: #dc322f; }

.highlight .vi {
  /* Name.Variable.Instance */
  color: #dc322f; }

.highlight .il {
  /* Literal.Number.Integer.Long */
  color: #cb4b16; }

/* Terminal */
div.highlighter-rouge.language-shell_session,
div.highlighter-rouge.language-terminal,
div.highlighter-rouge.language-console {
  background-color: #393e46;
  border-radius: 0.25em;
  border: 1px solid tint(#393e46, 80%);
  -webkit-box-shadow: 0 0.25em 1em rgba(57, 62, 70, 0.25);
          box-shadow: 0 0.25em 1em rgba(57, 62, 70, 0.25);
  margin-bottom: 1.5em;
  padding: calc(30px + 1em) 1em 1em;
  position: relative; }
  div.highlighter-rouge.language-shell_session::before,
  div.highlighter-rouge.language-terminal::before,
  div.highlighter-rouge.language-console::before {
    background: #cecfd1;
    color: #9c9fa3;
    content: "\2022 \2022 \2022";
    font-size: 60px;
    height: 30px;
    left: 0;
    line-height: 0;
    margin: 0;
    padding: 15px 0;
    position: absolute;
    text-indent: 15px;
    top: 0;
    width: 100%; }
  div.highlighter-rouge.language-shell_session .highlight,
  div.highlighter-rouge.language-terminal .highlight,
  div.highlighter-rouge.language-console .highlight {
    background-color: initial;
    color: #fff;
    margin: 0;
    padding: 0; }
    div.highlighter-rouge.language-shell_session .highlight .go,
    div.highlighter-rouge.language-terminal .highlight .go,
    div.highlighter-rouge.language-console .highlight .go {
      color: #fff; }
