<script>
	document.addEventListener('DOMContentLoaded', () => {
		const images = document.querySelectorAll('.microblog_collection img');
		let currentImageIndex = 0;
		let isMultiLightbox = false;

		function isDataURL(url) {
			return (typeof url == 'string') && url.trim().startsWith('data:');
		}

		function createLightbox() {
			// dynamically add lightbox elements to the page
			const lightbox = document.createElement('div');
			lightbox.id = 'microblog_lightbox';
			
			const closeBtn = document.createElement('button');
			closeBtn.id = 'microblog_lightbox_close_btn';
			closeBtn.innerHTML = '&times;';
			
			const prevBtn = document.createElement('button');
			prevBtn.id = 'microblog_lightbox_prev_btn';
			prevBtn.className = 'microblog_lightbox_nav';
			prevBtn.innerHTML = '&larr;';
			
			const nextBtn = document.createElement('button');
			nextBtn.id = 'microblog_lightbox_next_btn';
			nextBtn.className = 'microblog_lightbox_nav';
			nextBtn.innerHTML = '&rarr;';
			
			const lightboxImg = document.createElement('img');
			lightboxImg.id = 'microblog_lightbox_img';
			lightboxImg.alt = 'Lightbox Image';
			
			lightbox.appendChild(closeBtn);
			lightbox.appendChild(prevBtn);
			lightbox.appendChild(lightboxImg);
			lightbox.appendChild(nextBtn);
			
			document.body.appendChild(lightbox);
		
			return { lightbox, closeBtn, prevBtn, nextBtn, lightboxImg };
		}
		
		const { 
			lightbox, 
			closeBtn, 
			prevBtn, 
			nextBtn, 
			lightboxImg 
		} = createLightbox();

		function openMultiLightbox(index) {
			isMultiLightbox = true;
			currentImageIndex = index;
			lightboxImg.src = images[index].getAttribute('data-microblog-lightbox');
			lightbox.style.display = 'flex';

			// show buttons
			prevBtn.style.display = 'block';
			nextBtn.style.display = 'block';
		}
		
		function openSingleLightbox(url) {
			isMultiLightbox = false;
			lightboxImg.src = url;
			lightbox.style.display = 'flex';

			// hide buttons
			prevBtn.style.display = 'none';
			nextBtn.style.display = 'none';
		}

		function closeLightbox() {
			lightbox.style.display = 'none';
		}

		function navigatePrevious() {
			currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
			lightboxImg.src = images[currentImageIndex].getAttribute('data-microblog-lightbox');
		}

		function navigateNext() {
			currentImageIndex = (currentImageIndex + 1) % images.length;
			lightboxImg.src = images[currentImageIndex].getAttribute('data-microblog-lightbox');
		}

		// open lightbox when clicking on image
		images.forEach((img, index) => {
			if (isDataURL(img.src)) {
				return;
			}
			img.addEventListener('click', () => openMultiLightbox(index));
		});

		closeBtn.addEventListener('click', closeLightbox);
		prevBtn.addEventListener('click', navigatePrevious);
		nextBtn.addEventListener('click', navigateNext);

		// keyboard navigation
		document.addEventListener('keydown', (e) => {
			if (lightbox.style.display === 'flex') {
				switch (e.key) {
					case 'ArrowLeft':
						if (isMultiLightbox) {
							navigatePrevious();
						}
						break;
					case 'ArrowRight':
						if (isMultiLightbox) {
							navigateNext();
						}
						break;
					case 'Escape':
						closeLightbox();
						break;
				}
			}
		});

		// close lightbox when clicking outside the image
		lightbox.addEventListener('click', (e) => {
			if (e.target === lightbox) {
				closeLightbox();
			}
		});
		
		// now also check for simple images that aren't in a collection
		const single_images = document.querySelectorAll(".e-content img, .p-summary img");
		single_images.forEach(function(image) {
			// exclude images microblog_collection
			if (image.closest(".microblog_collection")) {
				return;
			}
		
			// check if the img element does not have an "a" tag as its parent
			if (!image.closest("a")) {
				// check for existing 'click' and 'touch' event handlers
				const hasClickHandler = image.onclick || image.hasAttribute("onclick");
				const hasTouchHandler = image.ontouchstart || image.hasAttribute("ontouchstart");
		
				// only add the click listener if no existing handlers are found
				if (!hasClickHandler && !hasTouchHandler && !isDataURL(image.src)) {
					image.addEventListener("click", function() {
						openSingleLightbox(image.src);
					});
				}
			}
		});
	});
</script>
