{{ $since := "December, 2021" }}

{{ $posts := where site.RegularPages "Type" "post" }}

{{ $scratch := newScratch }}
{{ range $posts }}
    {{ $scratch.Add "wordcount" .WordCount }}
{{ end }}

{{ range last 1 $posts }}
    {{ $since := .Date.Format "January, 2006" }}
{{ end }}

{{ $postCount :=  len ($posts) }}
{{ $wordCount := $scratch.Get "wordcount" }}

{{ if gt $wordCount 40000 }}
    {{ $novelCount := div $wordCount 40000 }}
    <p class="post-stats">I have published <b>{{ $postCount }} posts</b> with <b>{{ $wordCount }} words</b> (that's almost {{ $novelCount }} novellas) since <em>{{ $since }}</em>.</p>
{{ else }}
    <p class="post-stats">I have published <b>{{ $postCount }} posts</b> with <b>{{ $wordCount }} words</b> since <em>{{ $since }}</em>.</p>
{{ end }}