<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The online writing of Jason Heppler" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Jason Heppler - Atom" href="/atom.xml" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/footnote-popup.js"></script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <script type='text/javascript' src="/js/projects.js"></script>
    <title>Jason Heppler &mdash; {{ page.title }}</title>
<!--     {% include analytics.html %} -->
  </head>
  <body>
    <header>
      <h1 id="title">
        Jason Heppler
      </h1>
      <h3>
        <a href="blog.html">Blog</a>
         &bull; 
        <a href="archive.html">Archives</a>
         &bull;
        <a href="about.html">Colophon</a>
         &bull; 
        <a href="http://projects.jasonheppler.org">Projects</a>
         &bull; 
        <a href="http://blog.jasonheppler.org">Tumbclio</a>
         &bull; 
        <a href="http://twitter.com/jaheppler">Twitter</a>
         &bull; 
        <a href="http://cv.jasonheppler.org">CV</a>
      </h3>
      <h3 id="subtitle">
        Check out my <a href="/archives.html" title="Archive">archives</a>, <a href="http://projects.jasonheppler.org">projects</a>, &amp; <a href="cv.jasonheppler.org">curriculum vitae</a>.
      </h3>
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/blog.html" title="Current writing">Blog</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/archives.html" title="Archived writing">Archive</a> &bull;
        <a href="http://cv.jasonheppler.org" title="Curriculum vitae">C.V.</a>
      </footer>
    </div>
  </body>
</html>
