---
layout: default
---
<div id="inside">
  <div class="post">

  {% if page.external-url %}
    <h2><a href="{{ page.external-url }}">{{ page.title }}</a> →</h2>
    <p><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
  {% else %}
    <h3 datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</h3>
    <h1>{{ page.title }}</h1>
  {% endif %}

  {{ content }}

<section class="post_meta">
  <div class="block">
    <a href="http://twitter.com/jaheppler">
      <span class="ss-twitter ss-social-circle">
        <div>Follow me on Twitter.</div>
      </span>
    </a>
  </div>
  
  <div class="block">
  	<a href="http://acomp.stanford.edu/faculty/atsp">
  		<span class="ss-like ss-social-circle">
  			<div>I am the Academic Technology Specialist in the History Department at Stanford University.</div>
  		</span>
  	</a>
  </div>

  <div class="block">
  	<a href="http://github.com/hepplerj">
  		<span class="ss-github ss-social-circle">
  			<div>Follow me on Github.</div>
  		</span>
  	</a>
  </div>
</section>
</div>
</div>