{{ partial "head.html" . }}

<div class='pad2y limiter content'>
  <div class="body">
<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="link-posts">
{{ range (.Paginate ( first 25 .Pages )).Pages }}
   <div class="link-post-body">
    <header class="link-post-header">
      <span><a href="{{ index .Params "external" }}">{{ index .Params "title" }} →</a></span>
      <time class='link-post-date post-date' datetime='{{ .Date.Format "2006-01-02" }}'><a href="{{ .Permalink }}" class="permalink" title="Local permalink">{{ .Date.Format "January 2, 2006" }}</a></time> 
    </header>
    <article>

      {{ .Content }}

      Filed: <span class="commonplace__tag">{{ partial "tags.html" .}}</span>
    </article>
</div>
{{ end }}

{{ template "_internal/pagination.html" . }}

</div>
</div>

{{ partial "foot.html" . }}
</div>
