{{ partial "head.html" . }}

<div class='pad2y limiter content'>
  <div class="body"> 
<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="link-posts">  
{{ range (.Paginate ( first 25 .Pages )).Pages }}
    <header class="link-post-header">
      <p><time class='link-post-date post-date' datetime='{{ .Date.Format "2006-01-02" }}'>
        <a href="{{ .Permalink }}" class="permalink" title="Local permalink">{{ .Date.Format "January 2, 2006" }}</a>
      </time> &middot; <span class="commonplace__tag smaller">{{ partial "tags.html" .}}</span>  &middot; <a href="{{ index .Params "external" }}">{{ index .Params "title" }} →</a></p>
    </header>
    <article>

      {{ .Content }}

    </article>
    <hr />
{{ end }}

{{ template "_internal/pagination.html" . }}

</div>
</div>

{{ partial "foot.html" . }}
</div>