---
layout: default
title: Home
---

<div class="posts">

  <aside class="post">
    <p class="lead">Greetings! I'm <a href="/about/">Jason</a>. I am the <a href="https://library.stanford.edu/research/center-interdisciplinary-digital-research-cidr">Academic Technology Specialist</a> in the <a href="http://history.stanford.edu">Department of History</a> at Stanford University and a historian of the American West. You can reach me on Twitter <a href="http://twitter.com/jaheppler">@jaheppler</a> or at<code>jason@jasonheppler.org</code>.</p>
  </aside>

<section id="blog-posts">
  <h2>Recent Posts</h2>
  <ul id="recent-posts">
    {% for post in site.posts limit: 10 %}
    {% if post.external-url %}
    <li>
        <a href="{{ post.url }}">
          ✚ {{ post.title }}
        </a>
        <time class="posttime" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date_to_string }}
        </time> 
      </li>
    {% else %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        <time class="posttime" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date_to_string }}
        </time> 
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ site.baseurl }}/archives/" class="more-posts">Archives &rarr;</a>
</section>
