{{ partial "head.html" . }}

<div class='pad2y limiter content'>
  <div class="body"> 
  <header>
    <h1 class="title"><strong>{{ .Title }}</strong></h1>
  </header>

{{ .Content }}

<p>I've tracked previous readings on <a href="https://www.goodreads.com/jaheppler">Goodreads</a> and <a href="https://www.librarything.com/profile/hepplerj">LibraryThing</a>, but as of 2020 started logging that information myself here. Links are added as I get notes, thoughts, and reviews typed up. Some day I'll export everything from Goodreads and get it listed here instead.</p>

<p>You can find all of these books <a href="https://bookshop.org/shop/jasonheppler">on my Bookshop page</a>.</p>

<div class="books">  
{{ range (where .Site.RegularPages "Section" "books").GroupByDate "2006" }}
<h2>{{ .Key }}</h2>
    {{ range .Pages }}
    <div itemprop = "mainEntity" itemscope itemtype="http://schema.org/Book">
      <div itemprop="title">{{ if and (in .Params.categories "unread") }} <em>{{ .Params.Shorttitle }}</em> {{else}} <a href="{{ .Permalink }}" class="post-link"><em>{{ .Params.Shorttitle }}</em></a> {{ end}}</div>
      <div itemprop="author">{{ .Params.Author }}</div>
    </div>
    {{ end }}
{{ end }}
</div>

</div>

{{ partial "foot.html" . }}
</div>